<div class="container">
    <div class="row">    
        <div class="col-sm-4 informacoes">
            <p><%= __('Avenida Trabalhador São Carlense, 400 - Centro') %></p>
            <p><%= __('Universidade de São Paulo - ICMC Prédio 5 - Sala 6-208') %></p>
            <p><%= __('São Carlos - SP 13566-590 - Brasil') %></p>
            <p><%= __('Telefone: (16) 3373-9997') %></p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h3><%= __('Conecte-se conosco') %></h3>
                <a href="https://www.facebook.com/labes.usp/"><span class="fa fa-facebook"></span></a>
                <a href="http://www.labes.icmc.usp.br/site/"><span class="fa fa-globe"></span></a>
            </div>
        </div>
        <div class="col-sm-4">
            <% if (!loggedIn) { %>
                <h3><%= __('Crie já sua conta') %></h3>
                <a href="/openedupatterns/users/create"><button type="button" class="btn btn-warning"><%= __('Cadastre-se') %></button></a>
            <% } else { %>
                <h3><%= __('Links do site') %></h3>
                <h5><a href="/openedupatterns/"><%= __('Pagina inicial') %></a></h5>
                <h5><a href="/openedupatterns/languages"><%= __('Linguagens') %></a></h5>
                <h5><a href="/openedupatterns/patterns"><%= __('Padrões') %></a></h5>
                <h5><a href="/openedupatterns/about"><%= __('Sobre') %></a></h5>
            <% } %>
            
        </div>
    </div>
    <div class="row text-center the-end">
        <p><span class="fa fa-copyright"></span>Copyright 2018 <a href="http://www.usp.br"><%= __('Universidade de São Paulo') %></a></p>
        <h5 id="selectLanguage"><a href="/openedupatterns/setlang/pt">Português</a>    <a href="/openedupatterns/setlang/en">English</a></h5>
    </div>      
</div>