<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
    <link rel="stylesheet" type="text/css" href="../css/common_styles.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
    </nav>  
    <!-- Include breadcrumbs html -->
    <%- include partials/breadcrumb.ejs %>

    <div class="container">
            <div class="row main">
                <!-- Display errors -->
                <% if (messages.length > 0) { %>
                    <div class="alert alert-danger">
                        <% messages.forEach((message) => { %>
                        <p><%= message %></p>
                        <% }); %>
                    </div>
                <% } %>
                <!-- End display errors -->

                <div class="main-login main-center">
                <h5><%= __('Crie já sua conta e comece a utilizar a plataforma.') %></h5>
                    <form class="createUser" method="POST" action="/openedupatterns/users/create">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label"><%= __('Seu nome') %></label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-cadastro" name="name" id="name"  placeholder="<%= __('Digite seu nome') %>"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label"><%= __('Seu E-mail') %></label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control input-cadastro" name="email" id="email"  placeholder="<%= __('Digite seu e-mail') %>"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label"><%= __('Senha') %></label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control input-cadastro" name="password" id="password"  placeholder="<%= __('Digite sua senha (mínimo de 4 caracteres)') %>"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confir\m" class="cols-sm-2 control-label"><%= __('Confirme sua senha') %></label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control input-cadastro" name="confirm" id="confirm"  placeholder="<%= __('Confirme sua senha') %>"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button submit" id="button" class="btn btn-default btn-lg btn-block login-button"><%= __('Terminar Cadastro') %></button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>


    

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            //Automatic focus 
            $('#name').focus();
        });
    </script>
</body>
</html>