<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
    <link rel="stylesheet" type="text/css" href="../css/style_choosetemplate.css">
    <link rel="stylesheet" type="text/css" href="../css/common_styles.css">
    
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../css/style_datatable.css">
    <link rel="stylesheet" type="text/css" href="../css/style_datatable_effects.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
    </nav>  
    <br>
    <br>
    <div class="container well">
        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->

    	<form onsubmit="sortElements()" method="POST" action="/patterns/chosetemplate">
    	  <div class="form-group">
            <div class="tooltipInfo">
                <h1><%= __('Escolha um Template já existente') %> <span class="glyphicon glyphicon-question-sign"></span></h1>
                <span class="tooltiptext">
                    <%= __('O template definirá quais campos o seu padrão possuirá') %>
                </span>
            </div>

            <div class="row artigo">
                <table id="templateTable" class="display table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">Templates</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">
                                <input type="radio" id="Alexander" name="templateChosenId" value="1">  <label for="Alexander"><h3>Alexander</h3></label>
                                <label for="Alexander"><p>| <%= __('Nome') %> | <%= __('Contexto') %> | <%= __('Figura') %> | <%= __('Problema') %> | <%= __('Solução') %> | <%= __('Diagrama da solução') %> |</p></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <input type="radio" id="Portland" name="templateChosenId" value="2">  <label for="Portland"><h3>Portland</h3></label>
                                <label for="Portland"><p>| <%= __('Nome') %> | <%= __('Contexto') %> | <%= __('Descrição') %> | <%= __('Solução') %> |</p></h3>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <input type="radio" id="Coplien" name="templateChosenId" value="3">  <label for="Coplien"><h3>Coplien</h3></label>
                                <label for="Coplien"><p>| <%= __('Nome') %> | <%= __('Contexto') %> | <%= __('Problema') %> | <%= __('Solução') %> | <%= __('Alias') %> | <%= __('Forças') %> | <%= __('Exemplo') %> | <%= __('Usos conhecidos') %> | <%= __('Padrões relacionados') %> | <%= __('Contexto') %> | <%= __('Resultante') %> | <%= __('Rationale') %> |</p>  </h3>
                            </td>

                        </tr>
                        <!-- Loop -->
                        <% templatesName.forEach((templateName, index) => { %>
                        <tr>
                            <td class="text-left">
                                <input type="radio" id="<%= templatesId[index] %>" name="templateChosenId" value="<%= templatesId[index] %>">  <label for="<%= templatesId[index] %>"><h3><%= templateName %></h3></label>
                                <label for="<%= templatesId[index] %>"><p>|<%  templatesElements[index].forEach((elementName) => { %>
                                        <%= elementName %> |
                                    <% }); %>
                                </p></label>
                            </td>
                        </tr>
                        <% }); %>
                        <!-- End loop -->
                    </tbody>
                </table>       
            </div>
            <br>
            <button type="submit" class="btn btn-rounded btn-lg btn-info"><span class="glyphicon glyphicon-ok"></span> <%= __('Escolher template') %></button>
            <br>
            <br>

          <h3><%= __('ou') %>...</h3>
    	  <div class="form-group">
            <div class="tooltipInfo">
                <h1 for=""><%= __('Crie um novo template') %> <span class="glyphicon glyphicon-question-sign"></span></h1>
                <span class="tooltiptext">
                    <%= __('Este template criado ficará disponível para você na próxima criação de um padrão') %>
                </span>
            </div>
            <p><%= __('Caso deseje criar um padrão sem template, deixe os campos vazios e clique em Criar template') %></p>
            <input class="form-control" type="text" name="templateName" placeholder="<%= __('Digite aqui o nome de seu novo template') %>">
            <br>
            <div class="newTemplateElements">
                <div class="element0">
                    <input class="form-control" type="text" name="contentElement0" list="commonNames" placeholder="<%= __('Digite aqui o título do elemento') %>">
                    <datalist id="commonNames">
                        <option><%= __('Nome') %></option>
                        <option><%= __('Classificação') %></option>
                        <option><%= __('Contexto') %></option>
                        <option><%= __('Motivação') %></option>
                        <option><%= __('Figura') %></option>
                        <option><%= __('Descrição') %></option>
                        <option><%= __('Problema') %></option>
                        <option><%= __('Solução') %></option>
                        <option><%= __('Alias') %></option>
                        <option><%= __('Diagrama da solução') %></option>
                        <option><%= __('Forças') %></option>
                        <option><%= __('Consequências') %></option>
                        <option><%= __('Usos conhecidos') %></option>
                        <option><%= __('Padrões relacionados') %></option>
                        <option><%= __('Contexto resultante') %></option>
                        <option><%= __('Justificativa') %></option>
                        <option><%= __('Rationale') %></option>
                    </datalist>
                    <br>
                </div>
    	        <a class="btn btn-rounded btn-info" onclick="addElement(this)" id="addElement"><span class="glyphicon glyphicon-plus"></span> <%= __('Adicionar elemento') %></a>
    	    </div>
          </div>

    	  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-rounded btn-lg btn-info"><span class="glyphicon glyphicon-ok"></span> <%= __('Criar template') %></button>
    	  <a class="btn btn-rounded btn-lg btn-danger" href="/patterns"><span class="glyphicon glyphicon-remove"></span> <%= __('Cancelar') %></a>   
		</form>

    </div>
</div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );

            $('#templateTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 10,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "sands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );
    </script>
    
    <!-- Dynamic form -->
    <script type="text/javascript">
        var counter = 0;
        function addElement(obj) {
            counter += 1;
            var theHTML = "<div class='element"+counter+"'>"+
                          "<a id='element"+counter+"' class='btn btn-rounded btn-danger btn-xs' onclick='removeElement(this)'><%= __('Remover') %></a>"+
                          "<br>"+
                          "<br>"+
                          "<input class='form-control' type='text' list='commonNames' name='contentElement"+counter+"' placeholder='<%= __('Digite aqui o título do elemento') %>'>"+
                          "<br>"+
                          "</div>";
            obj.insertAdjacentHTML('beforebegin', theHTML);
        }

        function removeElement(obj) {
            var elementToRemove = obj.id;
            console.log(elementToRemove);
            $("."+elementToRemove).remove();
        }

        //To make sure the elements are sorted (you could add 5 elements and remove the 'element2' for example)
        function sortElements() {
            $(".newTemplateElements div").each(function(i) {
                $(this).attr('class', 'element[]');
            });

            $(".newTemplateElements input").each(function(i) {
                $(this).attr('name', 'titleElement[]');
            });

            $(".newTemplateElements a").each(function(i) {
                $(this).attr('class', 'element[]');
            });
        }
    </script>
    <!-- Explanation: whe rename the id's classes and names for referencing on remove function. When the form is submitted another function is called to rename the name of inputs for converting them to array-type -->
</body>
</html>
