<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../css/style_datatable.css">
    <link rel="stylesheet" type="text/css" href="../css/style_datatable_effects.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
        <link rel="stylesheet" type="text/css" href="../css/style_choosetemplate.css">
    </nav>  


    <div class="container">
        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->
    	<form onsubmit="sortElements()" method="POST" action="/patterns/chosetemplate">
    	  <div class="form-group">
            <div class="tooltipInfo">
                <h1><%= __('Escolha um Template já existente') %> <span class="glyphicon glyphicon-question-sign"></span></h1>
                <span class="tooltiptext">
                    <%= __('O template definirá quais campos o seu padrão possuirá') %>
                </span>
            </div>

            <div class="row artigo">
                <table id="templateTable" class="display table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">Templates</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">
                                <h3><input type="radio" name="templateChosenId" value="1">  Alexander</h3>
                                <p>| <%= __('Nome') %> | <%= __('Contexto') %> | <%= __('Figura') %> | <%= __('Problema') %> | <%= __('Solução') %> | <%= __('Diagrama da solução') %> |</p>    
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <h3><input type="radio" name="templateChosenId" value="2">  Portland</h3>
                                <p>| <%= __('Nome') %> | <%= __('Contexto') %> | <%= __('Descrição') %> | <%= __('Solução') %> |</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <h3><input type="radio" name="templateChosenId" value="3">  Coplien</h3>
                                <p>| <%= __('Nome') %> | <%= __('Contexto') %> | <%= __('Problema') %> | <%= __('Solução') %> | <%= __('Alias') %> | <%= __('Forças') %> | <%= __('Exemplo') %> | <%= __('Usos conhecidos') %> | <%= __('Padrões relacionados') %> | <%= __('Contexto') %> | <%= __('Resultante') %> | <%= __('Rationale') %> |</p>  
                            </td>

                        </tr>
                        <!-- Loop -->
                        <% templatesName.forEach((templateName, index) => { %>
                        <tr>
                            <td class="text-left">
                                <h3><input type="radio" name="templateChosenId" value="<%= templatesId[index] %>">  <%= templateName %></h3>
                                <p>|<%  templatesElements[index].forEach((elementName) => { %>
                                        <%= elementName %> |
                                    <% }); %>
                                </p>
                            </td>
                        </tr>
                        <% }); %>
                        <!-- End loop -->
                    </tbody>
                </table>       
            </div>

          <h3>ou...</h3>
    	  <div class="form-group">
            <div class="tooltipInfo">
                <h1 for=""><%= __('Crie um novo template') %> <span class="glyphicon glyphicon-question-sign"></span></h1>
                <span class="tooltiptext">
                    <%= __('Este template criado ficará disponível para você na próxima criação de um padrão') %>
                </span>
            </div>
            <input class="form-control" type="text" name="templateName" placeholder="<%= __('Digite aqui o nome de seu novo template') %>">
            <br>
            <div class="newTemplateElements">
                <div class="element0">
                    <input class="form-control" type="text" name="contentElement0" list="commonNames" placeholder="<%= __('Digite aqui o título do elemento') %>">
                    <datalist id="commonNames">
                        <option><%= __('Nome') %></option>
                        <option><%= __('Classificação') %></option>
                        <option><%= __('Contexto') %></option>
                        <option><%= __('Motivação') %></option>
                        <option><%= __('Figura') %></option>
                        <option><%= __('Descrição') %></option>
                        <option><%= __('Problema') %></option>
                        <option><%= __('Solução') %></option>
                        <option><%= __('Alias') %></option>
                        <option><%= __('Diagrama da solução') %></option>
                        <option><%= __('Forças') %></option>
                        <option><%= __('Consequências') %></option>
                        <option><%= __('Usos conhecidos') %></option>
                        <option><%= __('Padrões relacionados') %></option>
                        <option><%= __('Contexto resultante') %></option>
                        <option><%= __('Justificativa') %></option>
                        <option><%= __('Rationale') %></option>
                    </datalist>
                    <br>
                </div>
    	        <a class="btn btn-info" onclick="addElement(this)" id="addElement"><%= __('Adicionar elemento') %></a>
    	    </div>
            <!-- <a onclick="sortElements()" class="btn btn-default">Sort!</a> -->
          </div>

    	  <!-- <a href="" type="button" id="button" class="btn btn-default btn-lg btn-block login-button">Terminar Cadastro</a> -->
    	  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-success"><%= __('Criar Padrão') %></button>
    	  <a class="btn btn-danger" href="/patterns"><%= __('Cancelar') %></a>   
		</form>

    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );

            $('#templateTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 10,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );
    </script>
    <!-- Dynamic form -->
    <script type="text/javascript">
        var counter = 0;
        function addElement(obj) {
            counter += 1;
            var theHTML = "<div class='element"+counter+"'>"+
                          "<a id='element"+counter+"' class='btn btn-danger btn-xs' onclick='removeElement(this)'><%= __('Remover') %></a>"+
                          "<br>"+
                          "<br>"+
                          "<input class='form-control' type='text' list='commonNames' name='contentElement"+counter+"' placeholder='<%= __('Digite aqui o título do elemento') %>'>"+
                          "<br>"+
                          "</div>";
            obj.insertAdjacentHTML('beforebegin', theHTML);
        }

        function removeElement(obj) {
            var elementToRemove = obj.id;
            console.log(elementToRemove);
            $("."+elementToRemove).remove();
        }

        //To make sure the elements are sorted (you could add 5 elements and remove the 'element2' for example)
        function sortElements() {
            $(".newTemplateElements div").each(function(i) {
                $(this).attr('class', 'element[]');
            });

            $(".newTemplateElements input").each(function(i) {
                $(this).attr('name', 'titleElement[]');
            });

            $(".newTemplateElements a").each(function(i) {
                $(this).attr('class', 'element[]');
            });
        }
    </script>
    <!-- Explanation: whe rename the id's classes and names for referencing on remove function. When the form is submitted another function is called to rename the name of inputs for converting them to array-type -->
</body>
</html>
