<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img src="../img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquisar">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Página inicial</a></li>
                    <li><a href="/languages">Linguagens</a></li>
                    <li class="active"><a href="/patterns">Padrões</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <% if (loggedIn) { %>
                        <li>
                          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                                Usuário
                            <span class="caret"></span>
                          </a>

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <li><a href="/users/profile">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/logout">Sair</a></li>
                          </ul>
                          <!-- End dropdown menu -->

                        </li>
                    <% } else { %>
                        <li><a href="/users/login"><span class="glyphicon glyphicon-lock"></span>Entrar</a></li>
                    <% } %>
                </ul>

            </div>
        </div>
    </nav>  

    <div class="container criarNovoPadrao">
    	<h1>Criação de Novo Padrão</h1>

        <!-- Handle error -->
          <% if (templateElements.length === 0) { %>
            <p>Você reiniciou a página. Por favor volte à página anterior e escolha novamente seu template.</p>
            <a href="/patterns/chosetemplate" class="btn btn-info">Clique aqui</a>
          <% } %>

        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->
    	<form method="POST" action="" onsubmit="verifyNewTemplate()">
    	  <% if (templateElements.length > 0) { %>
              <div class="form-group">
        	    <label for="visibilidade">Visibilidade</label>
        	    <select class="form-control" id="visibilidade"  name="visibilidade">
        	      <option>Público</option>
        	      <option>Privado</option>
        	    </select>
        	  </div>
          <% }; %>
          
          <!-- Loop -->
          <p id="explanation">Para melhor utilização do usuário, é disponibilizada a dinamicidade da criação do Padrão. Basta clicar em <strong>Adicionar campo aqui</strong> e o usuário poderá criar um novo padrão, que será salvo para posterior uso, baseado no padrão escolhido anteriormente.</p>
          <% templateElements.forEach((element) => { %>
          <div class="form-group">
            <label><%= element.name %></label>
            <input class="form-control" type="hidden" name="elementName[]" value="<%= element.name %>">
            <textarea class="form-control" id="elementContent[]" name="elementContent[]" rows="4" placeholder="Digite aqui o conteúdo deste elemento"></textarea>
          </div>
          <a class="btn btn-info" onclick="addElement(this)">Adicionar campo aqui</a>
          <br>
          <br>
          <% }); %>

          <!-- End Loop -->

          <% if (templateElements.length > 0) { %>
              <input type="hidden" name="createNewTemplate" id="createNewTemplate" value="">
        	  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-info">Criar Padrão</button>
        	  <a class="btn btn-danger" href="/patterns">Cancelar</a>   
              <a onclick="verifyNewTemplate()">haha</a>
          <% }; %>
		</form>

    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- Dynamic form -->
    <script type="text/javascript">
        var counter = 0;

        function addElement(obj) {
            if (counter === 0) {
                var inputForTemplate = "<h3>Nome do novo Template</h3>"+
                                       "<input type='text' name='newTemplateName' class='form-control' placeholder='Digite aqui o nome de seu novo Template'>"+
                                       "<br>";

                $("#explanation").after(inputForTemplate);
            }
            counter += 1;
            var theHTML = "<a class='btn btn-info element"+counter+"' onclick='addElement(this)'>Adicionar campo aqui</a>"+
                          "<div class='element"+counter+" newElement'>"+
                          "<br>"+
                          "<br>"+
                          "<a id='element"+counter+"' class='btn btn-danger btn-xs' onclick='removeElement(this)'>Remover</a>"+
                          "<br>"+
                          "<br>"+
                          "<div class='form-group'>"+
                          "<input class='form-control' type='text' name='elementName[]' placeholder='Digite o nome do elemento'>"+
                          "<br>"+
                          "<textarea class='form-control' id='elementContent[]' name='elementContent[]' rows=4 placeholder='Digite aqui o conteúdo deste elemento'></textarea>"+
                          "</div>"
                          "</div>";

            obj.insertAdjacentHTML('beforebegin', theHTML);
        }

        function removeElement(obj) {
            var elementToRemove = obj.id;
            $("."+elementToRemove).remove();
        }

        function verifyNewTemplate() {
            var qttNewElements = $("form .newElement").length;
            if (qttNewElements === 0) {
                $("#createNewTemplate").attr('value', false);
            } else {
                $("#createNewTemplate").attr('value', true);
            }
            console.log(qttNewElements);
        }

    </script>
</body>
</html>
