<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
    <script type="text/javascript" src="../ckeditor5/ckeditor.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
    </nav>  

    <div class="container criarNovoPadrao">
    	<h1><%= __('Criação de Novo Padrão') %></h1>
      <br>
      <h4><%= __('Observações') %>:</h4>
      <p id="explanation"><%- __('1 - Para melhor utilização do usuário, é disponibilizada a dinamicidade da criação do Padrão. Basta clicar em <strong>Adicionar campo aqui</strong> e o usuário poderá criar um novo padrão, que será salvo para posterior uso. Caso o novo elemento do template seja o de <strong>Padrões relacionados</strong>, basta clicar no botão verde <strong>Relacionar padrões</strong>.') %></p>
      <p id="explanation"><%- __('2 - Ao inserir um link coloque o endereço completo: <strong>http://meulink.com</strong>') %></p>
        <!-- Handle error -->
          <% if (templateElements.length === 0) { %>
            <p><%= __('Você reiniciou a página. Por favor volte à página anterior e escolha novamente seu template.') %></p>
            <a href="/patterns/chosetemplate" class="btn btn-info"><%= __('Clique aqui') %></a>
          <% } %>

        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->

    	<form method="POST" action="" onsubmit="verifyNewTemplate()">
    	  <% if (templateElements.length > 0) { %>
            <div class="form-group">
        	    <label for="visibilidade"><%= __('Visibilidade') %></label>
        	    <select class="form-control" id="visibilidade"  name="visibilidade">
        	      <option><%= __('Público') %></option>
        	      <option><%= __('Privado') %></option>
        	    </select>
        	  </div>
        <% }; %>

          
          <!-- Loop -->
          <% templateElements.forEach((element, index) => { %>
          <div class="form-group">
              <% if (element.name === "Padrões relacionados" || element.name === "Padrões Relacionados" || element.name === "Padroes relacionados" || element.name === "Padroes Relacionados" || element.name === "padrões relacionados" || element.name === "padrões Relacionados" || element.name === "padroes relacionados" || element.name === "padroes Relacionados") { %>
                <label>Padrões relacionados</label>
                <input class="form-control" type="hidden" name="elementName[]" value="Padrões relacionados">
                <input class="form-control" type="hidden" id="elementContent[]" name="elementContent[]" value="This content is not a text, it's a relathionship in MySQL, therefore it can't be displayed here.">
              <% patterns.forEach((pattern) => { %>
                  <p><input type='checkbox' name='relatedPatterns' value='<%= pattern.padroes_id %>' > <%- pattern.titulo %></p>
              <% }) %>

            <% } else { %>
                <label><%= element.name %></label>
                <input class="form-control" type="hidden" name="elementName[]" value="<%= element.name %>">
                <textarea class="form-control ckeditor" id="elementContent[]" name="elementContent[]" rows="4" placeholder="Digite aqui o conteúdo deste elemento"></textarea>
            <% } %>

            </div>
            <a class="btn btn-info" onclick="addElement(this)"><%= __('Adicionar campo aqui') %></a>
            <br>
            <br>
          <% }); %>
          <!-- End Loop -->

          <br>
          <div class="form-group">
            <label for="tags"><%= __('Tags (separe-as pressionando Enter ou com uma vírgula)') %></label>
            <br>
            <input type="text" id="tags" name="tags" value="" data-role="tagsinput">
          </div>

          <datalist id="commonNames">
                        <option><%= __('Nome') %></option>
                        <option><%= __('Classificação') %></option>
                        <option><%= __('Contexto') %></option>
                        <option><%= __('Motivação') %></option>
                        <option><%= __('Figura') %></option>
                        <option><%= __('Descrição') %></option>
                        <option><%= __('Problema') %></option>
                        <option><%= __('Solução') %></option>
                        <option><%= __('Alias') %></option>
                        <option><%= __('Diagrama da solução') %></option>
                        <option><%= __('Forças') %></option>
                        <option><%= __('Consequências') %></option>
                        <option><%= __('Usos conhecidos') %></option>
                        <option><%= __('Padrões relacionados') %></option>
                        <option><%= __('Contexto resultante') %></option>
                        <option><%= __('Justificativa') %></option>
                        <option><%= __('Rationale') %></option>
                    </datalist>

          <% if (templateElements.length > 0) { %>
              <input type="hidden" name="createNewTemplate" id="createNewTemplate" value="">
        	  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-success"><%= __('Criar Padrão') %></button>
        	  <a class="btn btn-danger" href="/patterns"><%= __('Cancelar') %></a>   
          <% }; %>
		</form>

    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-tagsinput.min.js"></script>
    <!-- Dynamic form -->
    <script type="text/javascript">
        var counter = 0;

        function addElement(obj) {
            if (counter === 0) {
                var inputForTemplate = "<h3><%= __('Nome do novo Template') %></h3>"+
                                       "<input type='text' name='newTemplateName' class='form-control' placeholder='<%= __('Digite aqui o nome de seu novo Template') %>'>"+
                                       "<br>";

                $("#explanation").after(inputForTemplate);
            }
            counter += 1;
            var theHTML = "<a class='btn btn-info element"+counter+"Button' onclick='addElement(this); createCKEDITOR();'><%= __('Adicionar campo aqui') %></a>"+
                          "<div class='element"+counter+"Div newElement' id='element"+counter+"'>"+
                          "<br>"+
                          "<br>"+
                          "<a id='element"+counter+"' class='btn btn-danger btn-xs' onclick='removeElement(this)'><%= __('Remover') %></a>"+
                          "<a id='element"+counter+"' class='btn btn-success btn-xs' onclick='relatePatterns(this)'><%= __('Relacionar Padrões') %></a>"+
                          "<br>"+
                          "<br>"+
                          "<div class='form-group'>"+
                          "<input class='form-control' type='text' name='elementName[]' list='commonNames' placeholder='<%= __('Digite o nome do elemento') %>'>"+
                          "<br>"+
                          "<textarea class='form-control ckeditor' id='elementContent[]' name='elementContent[]' rows=4 placeholder='<%= __('Digite aqui o conteúdo deste elemento') %>'></textarea>"+
                          "</div>"+
                          "</div>";

            obj.insertAdjacentHTML('beforebegin', theHTML);


            textareaObj = document.querySelector( '.element'+counter+'Div textarea' );
          
            ClassicEditor
            .create(textareaObj, {
              removePlugins: [ 'MediaEmbed', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload' ],
            })
            .catch( error => {
              console.error( error );
            });
        }

        function removeElement(obj) {
            var elementToRemove = obj.id;   
            $("."+elementToRemove+"Button").remove();
            $("."+elementToRemove+"Div").remove();
        }

        // If the user didn't add an element, no template will be created 
        function verifyNewTemplate() {
            var qttNewElements = $("form .newElement").length;
            if (qttNewElements === 0) {
                $("#createNewTemplate").attr('value', false);
            } else {
                $("#createNewTemplate").attr('value', true);
            }
            console.log(qttNewElements);
        }

        function relatePatterns(obj) {
            var theHTML = "<br>"+
                          "<br>"+
                          "<a id='"+obj.id+"' class='btn btn-danger btn-xs' onclick='removeElement(this)'><%= __('Remover') %></a>"+
                          "<br>"+
                          "<br>"+
                          "<div class='form-group'>"+
                            "<label><%= __('Padrões relacionados') %></label>"+
                            "<input class='form-control' type='hidden' name='elementName[]' value='<%= __('Padrões relacionados') %>'>"+
                            "<% patterns.forEach((pattern) => { %>"+
                                "<p><input type='checkbox' name='relatedPatterns' value='<%= pattern.padroes_id %>' > <%- pattern.titulo %></p>"+
                            "<% }) %>"+
                          "</div>";                        
            $("."+obj.id+"Div").html(theHTML);
        }

        window.onload = function() {
          var editorsArray = document.querySelectorAll( '.ckeditor' );

          editorsArray.forEach(eachEditor => {
            ClassicEditor
            .create(eachEditor, {
              removePlugins: [ 'MediaEmbed', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload' ],
            })
            .catch( error => {
              console.error( error );
            });
          });

          //Print the names of all plugins on the console
          // ClassicEditor.builtinPlugins.map( plugin => console.log(plugin.pluginName));
        }

        // function checkEmptyName() {
        //   // var str = $("#elementContent[1] p").text();
        //   // alert(str);
        //   alert('bora');
          
        //   // var values = $("textarea[name='elementContent[]']")
        //   //     .map(function(){return $(this).text();}).get();

        //   var arr = $('input[name="pname[]"]').map(function () {
        //     return this.value; // $(this).val()
        //   }).get();

        //   console.log(arr);
        //   alert([1]);

        // }
    </script>
</body>
</html>
