<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
    <script type="text/javascript" src="../ckeditor5/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style_criarPadrao.css">
    <link rel="stylesheet" type="text/css" href="../css/common_styles.css">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../css/style_datatable.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
              <a href="/"><img src="../img/logoedu4.png"></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <!-- Menu do navbar -->
          <div class="collapse navbar-collapse" id="mynavbar">
              <!-- Barra de pesquisa -->
              <form class="navbar-form navbar-right" method="POST" role="search" action="/generalsearch">
                  <div class="input-group">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <input type="text" class="form-control" name="keyword" placeholder="<%= __('Pesquisar') %>">
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-default">
                          <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/"><%= __('Pagina inicial') %></a></li>
                  <li><a href="/languages"><%= __('Linguagens') %></a></li>
                  <li class="active"><a href="/patterns"><%= __('Padrões') %></a></li>
                  <li><a href="/about"><%= __('Sobre') %></a></li>
                  <% if (loggedIn) { %>
                      <li>
                        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <%= __('Usuário') %>
                          <span class="caret"></span>
                        </a>

                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                          <li><a href="/users/profile"><%= __('Perfil') %></a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="/users/logout"><%= __('Sair') %></a></li>
                        </ul>
                        <!-- End dropdown menu -->

                      </li>
                  <% } else { %>
                      <li><a href="/users/login"><span class="glyphicon glyphicon-lock"></span><%= __('Entrar') %></a></li>
                  <% } %>
              </ul>
              
          </div>
      </div>
    </nav>  
    <br>
    <br>
    <div class="container well criarNovoPadrao">
    	<h1><%= __('Criação de Novo Padrão') %></h1>
      <br>
      <h4><%= __('Observações') %>:</h4>
      <p id="explanation"><%- __('1 - Para melhor utilização do usuário, é disponibilizada a dinamicidade da criação do Padrão. Basta clicar em <strong>Adicionar campo aqui</strong> e o usuário poderá criar um novo padrão, que será salvo para posterior uso. Caso o novo elemento do template seja o de <strong>Padrões relacionados</strong>, basta clicar no botão verde <strong>Relacionar padrões</strong>.') %></p>
      <p id="explanation"><%- __('2 - Ao inserir um link coloque o endereço completo: <strong>http://meulink.com</strong>') %></p>
      <p id="explanation"><%- __('3 - O primeiro campo não pode estar vazio') %></p>
      <!-- Modal Obs -->
      <div class="modal fade" id="modal-obs">
          <div class="modal-dialog modal-md">
              <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3 class="modal-title"><%= __('Observações') %></h3>
                   </div>
                   <div class="modal-body">
                      <div class="row">
                          <div class="col-xs-10 col-xs-offset-1">
                              <div>
                                  <p id='explanation'><%- __('1 - Para melhor utilização do usuário, é disponibilizada a dinamicidade da criação do Padrão. Basta clicar em <strong>Adicionar campo aqui</strong> e o usuário poderá criar um novo padrão, que será salvo para posterior uso. Caso o novo elemento do template seja o de <strong>Padrões relacionados</strong>, basta clicar no botão verde <strong>Relacionar padrões</strong>.') %></p>
                                  <p id='explanation'><%- __('2 - Ao inserir um link coloque o endereço completo: <strong>http://meulink.com</strong>') %></p>
                                  <p id="explanation"><%- __('3 - O primeiro campo não pode estar vazio') %></p>
                                  <button class="btn btn-sm" type="button" class="close" data-dismiss="modal">OK</button>
                              </div>
                          </div>
                      </div>
                   </div>
              </div>
          </div>
      </div>
      <!-- End Modal Obs -->
        <!-- Handle error -->
          <% if (templateElements.length === 0) { %>
            <p><%= __('Você reiniciou a página. Por favor volte à página anterior e escolha novamente seu template.') %></p>
            <a href="/patterns/chosetemplate" class="btn btn-rounded btn-info"><%= __('Clique aqui') %></a>
          <% } %>

        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->

    	<form method="POST" action="" onsubmit="verifyNewTemplate()">
        <div id="inputNameTemplate"></div>

    	  <% if (templateElements.length > 0) { %>
            <div class="form-group">
              <div class="tooltipInfo" id="visibilidadeId">
                <label for="visibilidade"><%= __('Visibilidade') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                <span class="tooltiptext">
                    <%= __('Caso escolha privado apenas você poderá visualizar') %>
                </span>
              </div>
        	    <select class="form-control" id="visibilidade"  name="visibilidade">
        	      <option><%= __('Público') %></option>
        	      <option><%= __('Privado') %></option>
        	    </select>
        	  </div>
        <% }; %>

          
          <!-- Loop -->
          <% templateElements.forEach((element, index) => { %>
          <div class="form-group">
            <!-- Verify if the user wants to relate patterns to run the javascript to create the table -->
            <% if (    element.name === "Padrões relacionados" || element.name === "Padrões Relacionados" 
                    || element.name === "Padroes relacionados" || element.name === "Padroes Relacionados" 
                    || element.name === "padrões relacionados" || element.name === "padrões Relacionados" 
                    || element.name === "padroes relacionados" || element.name === "padroes Relacionados"
                    || element.name === "Related Patterns"     || element.name === "related patterns"
                    || element.name === "related Patterns"     || element.name === "Related patterns"
                  ) { %>

                <label><%= __("Relacionamento de padrões") %></label>
                <table id="patternTable" class="display">
                    <thead>
                      <tr>
                          <th><%= __('Nome do Padrão') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- =====================LOOP=========================-->
                      <% patterns.forEach((eachPattern, index) => { %>
                          <tr>  
                            <td><input type="checkbox" name="patterns2Relate" value="<%= eachPattern.padroes_id %>"> <h4><%- eachPattern.titulo %></h4></td>
                          </tr>
                      <% }); %>
                      <!-- ================================================= -->
                    </tbody>
                </table>    

                <!-- Handle the creation of the array -->
                <input class="form-control" type="hidden" name="elementName[]" value="Padrões relacionados">
                <input class="form-control" type="hidden" id="elementContent[]" name="elementContent[]" value="This content is not a text, it's a relathionship in MySQL, therefore it can't be displayed here.">
            <% } else { %>
                <label><%= element.name %></label>
                <input class="form-control" type="hidden" name="elementName[]" value="<%= element.name %>">
                <textarea class="form-control ckeditor" id="elementContent[]" name="elementContent[]" rows="4" placeholder="Digite aqui o conteúdo deste elemento"></textarea>
            <% } %>

            </div>
            <a class="btn btn-rounded btn-info" onclick="addElement(this)"><%= __('Adicionar campo aqui') %></a>  
            
            <br>
            <br>
          <% }); %>
          <!-- End Loop -->

          <br>
          <div class="form-group">
            <div class="tooltipInfo">
              <label for="tags"><%= __('Tags (separe-as pressionando Enter ou com uma vírgula)') %> <span class="glyphicon glyphicon-question-sign"></span></label>
              <span class="tooltiptext">
                  <%= __('Adicione tags que relacionem o assunto para facilitar as buscas') %>
              </span>
            </div>
            <br>
            <input type="text" id="tags" name="tags" value="" data-role="tagsinput">
          </div>

          <datalist id="commonNames">
                        <option><%= __('Nome') %></option>
                        <option><%= __('Classificação') %></option>
                        <option><%= __('Contexto') %></option>
                        <option><%= __('Motivação') %></option>
                        <option><%= __('Figura') %></option>
                        <option><%= __('Descrição') %></option>
                        <option><%= __('Problema') %></option>
                        <option><%= __('Solução') %></option>
                        <option><%= __('Alias') %></option>
                        <option><%= __('Diagrama da solução') %></option>
                        <option><%= __('Forças') %></option>
                        <option><%= __('Consequências') %></option>
                        <option><%= __('Usos conhecidos') %></option>
                        <option><%= __('Contexto resultante') %></option>
                        <option><%= __('Justificativa') %></option>
                        <option><%= __('Rationale') %></option>
                    </datalist>

          <% if (templateElements.length > 0) { %>
              <input type="hidden" name="createNewTemplate" id="createNewTemplate" value="">
        	  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-rounded btn-success"><%= __('Criar Padrão') %></button>
        	  <a class="btn btn-rounded btn-danger" href="/patterns"><%= __('Cancelar') %></a>   
          <% }; %>
		</form>

    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-tagsinput.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/dataTables.bootstrap.min.js"></script>
    <!-- Dynamic form -->
    <script type="text/javascript">
        var counter = 0;

        function addElement(obj) {
            if (counter === 0) {
                var inputForTemplate = "<h3><%= __('Nome do novo Template') %></h3>"+
                                       "<input type='text' name='newTemplateName' class='form-control' placeholder='<%= __('Digite aqui o nome de seu novo Template') %>'>"+
                                       "<br>";

                $("#inputNameTemplate").after(inputForTemplate);
            }
            counter += 1;
            var theHTML = "<a class='btn btn-rounded btn-info element"+counter+"Button' onclick='addElement(this); createCKEDITOR();'><%= __('Adicionar campo aqui') %></a>"+
                          "<div class='element"+counter+"Div newElement' id='element"+counter+"'>"+
                          "<br>"+
                          "<br>"+
                          "<a id='element"+counter+"' class='btn btn-rounded btn-danger btn-xs' onclick='removeElement(this)'><%= __('Remover') %></a>"+
                          "<a id='element"+counter+"' class='btn btn-rounded btn-success btn-xs' onclick='relatePatterns(this)'><%= __('Relacionar Padrões') %></a>"+
                          "<br>"+
                          "<br>"+
                          "<div class='form-group'>"+
                          "<input class='form-control' type='text' name='elementName[]' list='commonNames' placeholder='<%= __('Digite o nome do elemento') %>'>"+
                          "<br>"+
                          "<textarea class='form-control ckeditor' id='elementContent[]' name='elementContent[]' rows=4 placeholder='<%= __('Digite aqui o conteúdo deste elemento') %>'></textarea>"+
                          "</div>"+
                          "</div>";

            obj.insertAdjacentHTML('beforebegin', theHTML);


            textareaObj = document.querySelector( '.element'+counter+'Div textarea' );
          
            ClassicEditor
            .create(textareaObj, {
              removePlugins: [ 'MediaEmbed', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload' ],
            })
            .catch( error => {
              console.error( error );
            });
        }

        function removeElement(obj) {
            var elementToRemove = obj.id;   
            $("."+elementToRemove+"Button").remove();
            $("."+elementToRemove+"Div").remove();
        }

        // If the user didn't add an element, no template will be created 
        function verifyNewTemplate() {
            var qttNewElements = $("form .newElement").length;
            if (qttNewElements === 0) {
                $("#createNewTemplate").attr('value', false);
            } else {
                $("#createNewTemplate").attr('value', true);
            }
            console.log(qttNewElements);
        }

        function relatePatterns(obj) {
            var theHTML = "<br>"+
                          "<br>"+
                          "<a id='"+obj.id+"' class='btn btn-rounded btn-danger btn-xs' onclick='removeElement(this)'><%= __('Remover') %></a>"+
                          "<br>"+
                          "<br>"+
                          "<div class='form-group'>"+
                            "<label><%= __('Relacionamento de padrões') %></label>"+
                            "<table id='patternTable' class='display'>"+
                                "<thead>"+
                                  "<tr>"+
                                      "<th><%= __('Nome do Padrão') %></th>"+
                                  "</tr>"+
                                "</thead>"+
                                "<tbody>"+
                                  "<% patterns.forEach((eachPattern, index) => { %>"+
                                      "<tr>"+
                                        "<td><input type='checkbox' name='patterns2Relate' value='<%= eachPattern.padroes_id %>'><h4><%- eachPattern.titulo %></h4></td>"+
                                      "</tr>"+
                                  "<% }); %>"+
                                "</tbody>"+
                            "</table>"+
                            "<input class='form-control' type='hidden' name='elementName[]' value='Padrões relacionados'>"+
                            "<input class='form-control' type='hidden' id='elementContent[]' name='elementContent[]' value='This content is not a text, it's a relathionship in MySQL, therefore it can't be displayed here.'>"+
                          "</div>";                        
            $("."+obj.id+"Div").html(theHTML);

            //After adding the table, create the data table
            $.fn.dataTable.ext.errMode = 'throw'; //To throw the error

            try{
              $('#patternTable').DataTable( {
                  "pageLength": 4,
                  "scrollY": 400,
                  "scrollCollapse": true,
                  "paging": false,
                  language: {
                      "decimal":        "",
                      "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                      "info":           "",
                      "infoEmpty":      "",
                      "infoFiltered":   "",
                      "infoPostFix":    "",
                      "thousands":      ",",
                      "lengthMenu":     "",
                      "loadingRecords": "<%= __('Carregando...') %>",
                      "processing":     "<%= __('Processando...') %>",
                      "search":         "<%= __('Pesquisa') %>",
                      "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                      "paginate": {
                          "first":      "<%= __('Primeiro') %>",
                          "last":       "<%= __('Último') %>",
                          "next":       "<%= __('Próximo') %>",
                          "previous":   "<%= __('Anterior') %>"
                      },
                      "aria": {
                          "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                          "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                      }
                  }
              } );
            } catch (err) {
              alert("<%= __('Você não pode adicionar mais campos de relacionamento') %>");
            }


            
            
        }

        window.onload = function() {
          //Activate CkEditor
          var editorsArray = document.querySelectorAll( '.ckeditor' );
          editorsArray.forEach(eachEditor => {
            ClassicEditor
            .create(eachEditor, {
              removePlugins: [ 'MediaEmbed', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload' ],
            })
            .catch( error => {
              console.error( error );
            });
          });

          //Activate modal
          $("#modal-obs").modal();
        }
    </script>
    <!-- Data tables -->
    <script type="text/javascript">
        $(document).ready( function () {
          $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
              $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
          } );

          $.fn.dataTable.ext.errMode = 'throw'; //To throw the error

          $('#patternTable').DataTable( {
              "pageLength": 4,
              "scrollY": 400,
              "scrollCollapse": true,
              "paging": false,
              language: {
                  "decimal":        "",
                  "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                  "info":           "",
                  "infoEmpty":      "",
                  "infoFiltered":   "",
                  "infoPostFix":    "",
                  "thousands":      ",",
                  "lengthMenu":     "",
                  "loadingRecords": "<%= __('Carregando...') %>",
                  "processing":     "<%= __('Processando...') %>",
                  "search":         "<%= __('Pesquisa') %>",
                  "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                  "paginate": {
                      "first":      "<%= __('Primeiro') %>",
                      "last":       "<%= __('Último') %>",
                      "next":       "<%= __('Próximo') %>",
                      "previous":   "<%= __('Anterior') %>"
                  },
                  "aria": {
                      "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                      "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                  }
              }
          } );

        } );
    </script>
</body>
</html>
