<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
    </nav>  

    <div class="container criarNovaLinguagem">
        <h1><%= __('Criação de Nova Linguagem') %></h1>
        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->
        <form method="POST" action="">
          <div class="form-group">
            <label for="nomeLinguagem"><%= __('Nome da Linguagem') %></label>
            <input type="text" class="form-control" id="nomeLinguagem" name="nomeLinguagem" placeholder="<%= __('Digite o nome da sua Linguagem') %>">
          </div>
          <div class="form-group">
            <label for="visibilidade"><%= __('Visibilidade') %></label>
            <select class="form-control" id="visibilidade" name="visibilidade">
              <option><%= __('Público') %></option>
              <option><%= __('Privado') %></option>
            </select>
          </div>
          <div class="form-group">
            <label for="descricaoLinguagem"><%= __('Descrição da Linguagem') %></label>
            <textarea class="form-control" id="descricaoLinguagem" name="descricaoLinguagem" rows="4"></textarea>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-primary"><%= __('Criar Linguagem') %></button>
          <a class="btn btn-danger" href="/languages"><%= __('Cancelar') %></a>   
        </form>
    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
