<!DOCTYPE html>
<html>
<head>
    <% include partials/head1.ejs %>
    <link rel="stylesheet" type="text/css" href="../css/style_criarLinguagem.css">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../css/style_datatable.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
    </nav>  

    <div class="container criarNovaLinguagem">
        <h1><%= __('Criação de Nova Linguagem') %></h1>
        <!-- Display errors -->
        <% if (messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach((message) => { %>
                <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <!-- End display errors -->
        <form method="POST" action="">
          <div class="form-group">
            <div class="tooltipInfo">
              <label for="nomeLinguagem"><%= __('Nome da Linguagem') %> <span class="glyphicon glyphicon-question-sign"></span></label>
              <span class="tooltiptext">
                <%= __('Digite o nome da Linguagem que será exibida nas buscas') %>
              </span>
            </div>
            <input type="text" class="form-control" id="nomeLinguagem" name="nomeLinguagem" placeholder="<%= __('Digite o nome da sua Linguagem') %>">
          </div>
          <div class="form-group">
            <div class="tooltipInfo">
              <label for="visibilidade"><%= __('Visibilidade') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                <span class="tooltiptext">
                    <%= __('Caso escolha privado apenas você poderá visualizar') %>
                </span>
            </div>
            <select class="form-control" id="visibilidade" name="visibilidade">
              <option><%= __('Público') %></option>
              <option><%= __('Privado') %></option>
            </select>
          </div>
          <div class="form-group">
            <div class="tooltipInfo">
              <label for="descricaoLinguagem"><%= __('Descrição da Linguagem') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                <span class="tooltiptext">
                    <%= __('A descrição facilitará a compreensão da Linguagem por outros usuários') %>
                </span>
            </div>

            <textarea class="form-control" id="descricaoLinguagem" name="descricaoLinguagem" rows="4"></textarea>
          </div>
          <div class="form-group">
            <div class="tooltipInfo">
              <label for="tags"><%= __('Tags (separe-as pressionando Enter ou com uma vírgula)') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                <span class="tooltiptext">
                    <%= __('Adicione tags que relacionem o assunto para facilitar as buscas') %>
                </span>
            </div>
            <br>
            <input type="text" id="tags" name="tags" value="" data-role="tagsinput">
          </div>
          <div class="form-group">
            <h2><%= __("Relacionamento de padrões") %></h2>
            <table id="patternTable" class="display">
                <thead>
                  <tr>
                      <th><%= __('Nome do Padrão') %></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- =====================LOOP=========================-->
                  <% patterns.forEach((eachPattern, index) => { %>
                      <tr>  
                        <td><input type="checkbox" name="patterns2Relate" value="<%= eachPattern.padroes_id %>"><h4><%- eachPattern.titulo %></h4></td>
                      </tr>
                  <% }); %>
                  <!-- ================================================= -->
                </tbody>
            </table>    
          </div>
          <div class="form-group">
            <h2><%= __('Relacionamento de Linguagens') %></h2>
            <table id="languageTable" class="display">
                <thead>
                    <tr>
                        <th><%= __('Noma da Linguagem') %></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- =====================LOOP=========================-->
                    <% languages.forEach((eachLanguage, index) => { %>
                        <tr>
                            <td><input type="checkbox" name="languages2Relate" value="<%= eachLanguage.linguagens_id %>"> <%= eachLanguage.nome %></td>
                        </tr>
                    <% }); %>
                    <!-- ================================================= -->
                </tbody>
            </table>     
          </div>
          
          <br>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-primary"><%= __('Criar Linguagem') %></button>
          <a class="btn btn-danger" href="/languages"><%= __('Cancelar') %></a>   
        </form>
    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );

            $('#patternTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 4,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );

            $('#languageTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 6,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );
    </script>
</body>
</html>