<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="../../js/html5shiv.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="../../css/style_editarPadroes.css">
    <link rel="stylesheet" type="text/css" href="../../css/style_footer.css">
    <link rel="stylesheet" type="text/css" href="../../css/common_styles.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- CkEditor -->
    <script type="text/javascript" src="../../ckeditor5/ckeditor.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../../css/style_datatable.css">
    <!-- Dual-listbox -->
    <link rel="stylesheet" type="text/css" href="../../css/dual-listbox.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/openedupatterns/"><img src="../../img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" method="POST" role="search" action="/generalsearch">
                    <div class="input-group">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" class="form-control" name="keyword" placeholder="<%= __('Pesquisa geral') %>">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/openedupatterns/"><%= __('Pagina inicial') %></a></li>
                    <li><a href="/openedupatterns/languages"><%= __('Linguagens') %></a></li>
                    <li class="active"><a href="/openedupatterns/patterns"><%= __('Padrões') %></a></li>
                    <li><a href="/openedupatterns/about"><%= __('Sobre') %></a></li>
                    <% if (loggedIn) { %>
                        <li>
                          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <%= __('Usuário') %>
                            <span class="caret"></span>
                          </a>

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <li><a href="/openedupatterns/users/profile"><%= __('Perfil') %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/openedupatterns/users/logout"><%= __('Sair') %></a></li>
                          </ul>
                          <!-- End dropdown menu -->

                        </li>
                    <% } else { %>
                        <li><a href="/openedupatterns/users/login"><span class="glyphicon glyphicon-lock"></span><%= __('Entrar') %></a></li>
                    <% } %>
                </ul>
                
            </div>
        </div>
    </nav>  
    <!-- Include breadcrumbs html -->
    <%- include partials/breadcrumb.ejs %>
    <br>
    <br>
    <br>
    <div class="corpo">
        <div class="container well">           
            <div class="col-artigos">
<!-- ==============================================-->
            <div class="criarNovaLinguagem">
                <h1 id="pageTitle"><%= __('Edição de Padrão') %></h1>
                <br>
                <!-- Display errors -->
                <% if (messages.length > 0) { %>
                    <div class="alert alert-danger">
                        <% messages.forEach((message) => { %>
                            <p><%= message %></p>
                        <% }); %>
                    </div>
                <% } %>
                <!-- End Display errors -->

                <form method="POST" action="">
                    
                    <div class="form-group">
                        <div class="tooltipInfo" id="visibilidadeId">
                            <label for="visibilidade"><%= __('Visibilidade') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                            <span class="tooltiptext">
                                <%= __('Caso escolha privado apenas você poderá visualizar') %>
                            </span>
                        </div>
                        <select class="form-control" id="visibilidade" name="visibilidade">
                            <option><%= __('Público') %></option>
                            <option><%= __('Privado') %></option>
                        </select>
                    </div>

                    <!-- Loop -->
                    <% patternContent.forEach((element) => { %>
                        <% if (    element.name === "Padrões relacionados" || element.name === "Padrões Relacionados" 
                            || element.name === "Padroes relacionados" || element.name === "Padroes Relacionados" 
                            || element.name === "padrões relacionados" || element.name === "padrões Relacionados" 
                            || element.name === "padroes relacionados" || element.name === "padroes Relacionados"
                            || element.name === "Related Patterns"     || element.name === "related patterns"
                            || element.name === "related Patterns"     || element.name === "Related patterns"
                        ) { %>    
                            <div class="tooltipInfo">
                                <h3><%= __("Faça aqui seu novo relacionamento de Padrões") %> <span class="glyphicon glyphicon-question-sign"></h3>
                                <span class="tooltiptext">
                                    <%= __("Selecione os novos padrões a serem relacionados ou clique no X para remover uma relação") %>
                                </span>
                            </div>

                            <br>
                            <input class="form-control" type="hidden" name="elementName[]" value="Padrões relacionados">
                            <input class="form-control" type="hidden" id="elementContent[]" name="elementContent[]" value="This content is not a text, it's a relathionship in MySQL, therefore it can't be displayed here.">

                            <!-- Dual-listbox1 -->
                            <p><%= __('Digite para pesquisar') %></p>
                            <select class="patterns2Relate" name="patterns2Relate" multiple="multiple">
                                <!-- Not related -->
                                <!-- =====================LOOP=========================-->
                                <% notRelatedPatterns.forEach((eachPattern, index) => { %>
                                    <option value="<%= eachPattern.padroes_id %>"><%- eachPattern.titulo %></option>
                                <% }); %>
                                <!-- ================================================= -->

                                <!-- Related -->
                                <!-- =====================LOOP=========================-->
                                <% relatedPatterns.forEach((eachPattern, index) => { %>
                                    <option value="<%= eachPattern.padroes_id %>" selected="selected"><%- eachPattern.titulo %></option>
                                <% }); %>   
                                <!-- ================================================= -->                         
                            </select>

                            <br>
                        <% } else { %>
                            <label><%= element.name %></label>
                            <input class="form-control" type="hidden" name="elementName[]" value="<%= element.name %>">
                            <textarea class="form-control ckeditor" id="elementContent[]" name="elementContent[]" rows="4" placeholder="Digite aqui o conteúdo deste elemento"><%= element.content %></textarea>
                        <% } %>
                        <br>
                    <% }); %>
                    <!-- End Loop -->

                    <div class="form-group">
                        <div class="tooltipInfo">
                          <label for="tags"><%= __('Tags (separe-as pressionando Enter ou com uma vírgula)') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                          <span class="tooltiptext">
                              <%= __('Adicione tags que relacionem o assunto para facilitar as buscas') %>
                          </span>
                        </div>
                        <br>
                        <input type="text" id="tags" name="tags" value="<%= tagsString %>" data-role="tagsinput">
                    </div>
                    <br>
                  


                    <a href="javascript:window.location.reload(true)">
                      <button type="submit" class="btn btn-rounded btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> <%= __('Salvar alterações') %></button>

                    </a>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="button" onclick="window.location.href='/openedupatterns/patterns'" class="btn btn-rounded btn-danger"><span class="glyphicon glyphicon-remove"></span> <%= __('Cancelar') %></button>    
                </form>
                <br>
                <br>
                <form method="POST" action="/patterns/<%= patternId %>/delete">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-rounded btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span> <%= __('Deletar Padrão') %></button>    
                </form>
            </div>

<!-- =================================== -->

            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-tagsinput.min.js"></script>
    <script src="../../js/dual-listbox.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="../../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        //Dual-listbox for patterns
        var dualListbox1 = new DualListbox('.patterns2Relate', {
            addEvent: function(value) { // Should use the event listeners
                console.log(value);
            },
            removeEvent: function(value) { // Should use the event listeners
                console.log(value);
            },
            availableTitle: "<%= __('Padrões não relacionados') %>",
            selectedTitle: "<%= __('Padrões relacionados') %>",
            addButtonText: "&#8595",
            removeButtonText: "&#8593",
            showAddAllButton: false,
            showRemoveAllButton: false,

            options: [
                // {text:"Option 1", value: "OPTION1"},
                // {text:"Selected option", value: "OPTION3", selected:true}
            ]
        });

        dualListbox1.addEventListener('added', function(event){
            console.log(event);
            console.log(event.addedElement);
        });
        dualListbox1.addEventListener('removed', function(event){
            console.log(event);
            console.log(event.removedElement);
        });
    </script>

    <!-- Ck Editor -->
    <script type="text/javascript">
        window.onload = function() {
          var editorsArray = document.querySelectorAll( '.ckeditor' );

          editorsArray.forEach(eachEditor => {
            ClassicEditor
            .create(eachEditor, {
              removePlugins: [ 'MediaEmbed', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload' ],
            })
            .catch( error => {
              console.error( error );
            });
          });
        }
    </script>
    
    <!-- Data tables -->
    <script type="text/javascript">
        $(document).ready( function () {
            $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );

            $('#patternTable').DataTable( {
                "pageLength": 4,
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );
    </script>
</body>
</html>