<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="../../js/html5shiv.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="../../css/style_editLanguages.css">
    <link rel="stylesheet" type="text/css" href="../../css/common_styles.css">
    <link rel="stylesheet" type="text/css" href="../../css/style_footer.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Dual-listbox -->
    <link rel="stylesheet" type="text/css" href="../../css/dual-listbox.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav2.ejs %>
    </nav>  
    <br>
    <br>
    <div class="corpo">
        <div class="container well">
<!-- ==============================================-->
            <div class="editarLinguagem">
                <h1><%= __('Edição de Linguagem') %></h1>
                <!-- Display errors -->
                <% if (messages.length > 0) { %>
                    <div class="alert alert-danger">
                        <% messages.forEach((message) => { %>
                            <p><%= message %></p>
                        <% }); %>
                    </div>
                <% } %>
                <!-- End Display errors -->

                <br>
                <!-- ================================================ -->
                <div class="tooltipInfo">
                    <h2><%= __('Relacionamento entre Linguagens e Padrões') %> <span class="glyphicon glyphicon-question-sign"></h2>
                    <span class="tooltiptext">
                        <%= __("Selecione os novos padrões a serem relacionados ou clique no X para remover uma relação") %>
                      </span>
                </div>
                <br>
                <br>
                <!-- ================================================ -->
                <form method="POST" action="">
                    <!-- Dual-listbox1 -->
                    <p><%= __('Digite para pesquisar') %></p>
                    <select class="patterns2Relate" name="patterns2Relate" multiple="multiple">
                        <!-- Not related -->
                        <!-- =====================LOOP=========================-->
                        <% notRelatedPatterns.forEach((eachPattern, index) => { %>
                            <option value="<%= eachPattern.padroes_id %>"><%- eachPattern.titulo %></option>
                        <% }); %>
                        <!-- ================================================= -->

                        <!-- Related -->
                        <!-- =====================LOOP=========================-->
                        <% relatedPatterns.forEach((eachPattern, index) => { %>
                            <option value="<%= eachPattern.padroes_id %>" selected="selected"><%- eachPattern.titulo %></option>
                        <% }); %>   
                        <!-- ================================================= -->                         
                    </select>


                    <div class="tooltipInfo">
                        <h2><%= __('Relacionamento entre Linguagens') %> <span class="glyphicon glyphicon-question-sign"></h2>
                        <span class="tooltiptext">
                            <%= __("Selecione as novas linguagens a serem relacionados e clique no X para remover uma relação") %>
                          </span>
                    </div>
                    <br>
                    <br>
                    <!-- Dual-listbox2 -->
                    <p><%= __('Digite para pesquisar') %></p>
                    <select class="languages2Relate" name="languages2Relate" multiple="multiple">
                        <!-- Not related -->
                        <!-- =====================LOOP=========================-->
                        <% notRelatedLanguages.forEach((eachLanguage, index) => { %>
                            <option value="<%= eachLanguage.linguagens_id %>"><%- eachLanguage.nome %></option>
                        <% }); %>
                        <!-- ================================================= -->

                        <!-- Related -->
                        <!-- =====================LOOP=========================-->
                        <% relatedLanguages.forEach((eachLanguage, index) => { %>
                            <option value="<%= eachLanguage.linguagens_id %>" selected="selected"><%- eachLanguage.nome %></option>
                        <% }); %>   
                        <!-- ================================================= -->                         
                    </select>

                    <div class="tooltipInfo">
                        <h2><%= __('Propriedades da Linguagem') %> <span class="glyphicon glyphicon-question-sign"></h2>
                        <span class="tooltiptext">
                            <%= __("Edite aqui as informações básicas da Linguagem") %>
                          </span>
                    </div>
                    <div class="form-group">
                      <label for="nomeLinguagem"><%= __('Nome da Linguagem') %></label>
                      <input type="text" class="form-control" id="nomeLinguagem" name="nomeLinguagem" value="<%= linguagem.nome %>">
                    </div>
                    <div class="form-group">
                      <label for="visibilidade"><%= __('Visibilidade') %></label>
                      <select class="form-control" id="visibilidade"  name="visibilidade">
                        <option><%= __('Público') %></option>
                        <option><%= __('Privado') %></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="descricaoLinguagem"><%= __('Descrição da Linguagem') %></label>
                      <textarea class="form-control" id="descricaoLinguagem" name="descricaoLinguagem" rows="4"><%= linguagem.descricao %></textarea>
                    </div>
                    <div class="form-group">
                        <div class="tooltipInfo">
                          <label for="tags"><%= __('Tags (separe-as pressionando Enter ou com uma vírgula)') %> <span class="glyphicon glyphicon-question-sign"></span></label>
                          <span class="tooltiptext">
                              <%= __('Adicione tags que relacionem o assunto para facilitar as buscas') %>
                          </span>
                        </div>
                        <br>
                        <input type="text" id="tags" name="tags" value="<%= tagsString %>" data-role="tagsinput">
                    </div>
                    <br>
                    <br>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-rounded btn-primary"><%= __('Salvar propriedades') %></button>
                    <button onclick="window.location.href='/linguagens'" class="btn btn-rounded btn-danger"><%= __('Cancelar') %></button>    
                </form>
                <br>
                <br>
                <form method="POST" action="/languages/<%= linguagem.linguagens_id %>/delete">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-rounded btn-danger btn-lg"><%= __('Deletar Linguagem') %></button>    
                </form>
                <br>
            </div>

<!-- =================================== -->
        </div>
    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../../dataCollectors/collectDataLogin.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-tagsinput.min.js"></script>
    <script src="../../js/dual-listbox.js"></script>
    <script type="text/javascript" src="../../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        //Dual-listbox for patterns
        var dualListbox1 = new DualListbox('.patterns2Relate', {
            addEvent: function(value) { // Should use the event listeners
                console.log(value);
            },
            removeEvent: function(value) { // Should use the event listeners
                console.log(value);
            },
            availableTitle: "<%= __('Padrões não relacionados') %>",
            selectedTitle: "<%= __('Padrões relacionados') %>",
            addButtonText: "&#8595",
            removeButtonText: "&#8593",
            addAllButtonText: "&#8595 &#8595",
            removeAllButtonText: "&#8593 &#8593",

            options: [
                // {text:"Option 1", value: "OPTION1"},
                // {text:"Selected option", value: "OPTION3", selected:true}
            ]
        });

        dualListbox1.addEventListener('added', function(event){
            console.log(event);
            console.log(event.addedElement);
        });
        dualListbox1.addEventListener('removed', function(event){
            console.log(event);
            console.log(event.removedElement);
        });

        //Dual-listbox for languages
        var dualListbox2 = new DualListbox('.languages2Relate', {
            addEvent: function(value) { // Should use the event listeners
                console.log(value);
            },
            removeEvent: function(value) { // Should use the event listeners
                console.log(value);
            },
            availableTitle: "<%= __('Linguagens não relacionadas') %>",
            selectedTitle: "<%= __('Linguagens relacionadas') %>",
            addButtonText: "&#8595",
            removeButtonText: "&#8593",
            addAllButtonText: "&#8595 &#8595",
            removeAllButtonText: "&#8593 &#8593",

            options: [
                // {text:"Option 1", value: "OPTION1"},
                // {text:"Selected option", value: "OPTION3", selected:true}
            ]
        });

        dualListbox2.addEventListener('added', function(event){
            console.log(event);
            console.log(event.addedElement);
        });
        dualListbox2.addEventListener('removed', function(event){
            console.log(event);
            console.log(event.removedElement);
        });
    </script>
</body>
</html>