<!DOCTYPE html>
<html>
<head>
    <title>Home - OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="css/style_index.css">
    <link rel="stylesheet" type="text/css" href="css/style_footer.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav0.ejs %>
    </nav>  

    <!-- BANNER -->
    <div class="banner">
        <img class="img-responsive" src="img/<%= __('bannerPT.png') %>">
    </div>



    <div class="corpo">
        <div class="container">
            <h1><%= __('Padrões mais utilizados') %></h1>   
            <div class="col-md-8 col-artigos">
                <div class="row artigo">
                    <h2><a href=""><%= __('Padrão um') %></a></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. 
                    </p>
                    <h4><%= __('Aplicação') %></h4>
                    <p>    
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in 
                        cillum dolore nulla... <a href="" class="read-more"> <%= __('Continuar lendo') %></a>
                    </p>
                    <p>
                        <a href=""><span class="glyphicon glyphicon-user"></span>  Gabriel Nicolau</a>
                        <a href="" class="glyphicon glyphicon-comment"> 3</a>
                        <span class="glyphicon glyphicon-calendar"> 20/08/2018</span>
                    </p>    

                </div>
                <div class="row artigo">
                    <h2><a href=""><%= __('Padrão dois') %></a></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. 
                    </p>
                    <h4><%= __('Aplicação') %></h4>
                    <p>    
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in 
                        cillum dolore nulla... <a href="" class="read-more"> <%= __('Continuar lendo') %></a>
                    </p>
                    <p>
                        <a href=""><span class="glyphicon glyphicon-user"></span>  Sarah Nicolau</a>
                        <a href="" class="glyphicon glyphicon-comment"> 5</a>
                        <span class="glyphicon glyphicon-calendar"> 08/07/2018</span>
                    </p>    
                    
                </div>
                <div class="row artigo">
                    <h2><a href=""><%= __('Padrão três') %></a></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. 
                    </p>
                    <h4><%= __('Aplicação') %></h4>
                    <p>    
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in 
                        cillum dolore nulla... <a href="" class="read-more"> <%= __('Continuar lendo') %></a>
                    </p>
                    <p>
                        <a href=""><span class="glyphicon glyphicon-user"></span>  Celso Nicolau</a>
                        <a href="" class="glyphicon glyphicon-comment"> 1</a>
                        <span class="glyphicon glyphicon-calendar"> 01/09/2018</span>
                    </p>    
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 mais-vistos col-artigos">
                <h3><%= __('Compartilhe suas práticas') %></h3>
                <p>
                    <%= __('Padrão Educacional é uma forma de educadores descreverem e compartilharem experiências adquiridas no contexto de ensino e aprendizagem. A ferramenta OpenEdu Patterns pode ser utilizada para cadastrar padrões, organizá-los em categorias e compartilhá-los para que outros educadores tenham acesso às práticas catalogadas.') %>
                </p>
                <br>
                <br>


                <h3><%= __('Linguagens mais vistas') %></h3>
                <ul>
                    <li><a href=""><strong><%= __('Linguagem um') %></strong> </a></li>
                    <li><a href=""><strong><%= __('Linguagem dois') %></strong></a></li>
                    <li><a href=""><strong><%= __('Linguagem três') %></strong></a></li>
                    <li><a href=""><strong><%= __('Linguagem quatro') %></strong></a></li>
                    <li><a href=""><strong><%= __('Linguagem cinco') %></strong></a></li>
                    <li><a href=""><strong><%= __('Linguagem seis') %></strong></a></li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
