<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="css/style_padroes.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav0.ejs %>
    </nav>  

    


    <div class="corpo">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 gerenciamento">
                <!-- <h3><a href="/gerenciamentoPadroes">Gerenciar meus padrões</a></h3> -->
            </div>

            <h1><%= __('Padrões populares') %></h1>
            <div class="col-md-10 col-md-offset-1 col-artigos">
                <div class="row artigo">
                    <h2><a href="/patterns/chosetemplate"><%= __('Criar novo Padrão') %></a><h2>
                </div>
                <div class="row artigo">
                    <h2><a href=""><%= __('Padrão um') %></a></h2>
                    <!-- INICIO FORMATAÇÃO DO USUARIO -->
                    <!-- AQUI ENTRARÁ A FORMATAÇÃO EM HTML DIGITADA PELO USUARIO ATE UMA CERTA QUANTIDADE DE LINHAS -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. 
                    </p>
                    <h4><%= __('Aplicação') %></h4>
                    <p>    
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in 
                        cillum dolore nulla... <a href="" class="read-more"> <%= __('Continuar lendo') %></a>
                    </p>
                    <!-- FIM DA FORMATAÇÃO DO USUARIO -->
                    <p>
                        <a href=""><span class="glyphicon glyphicon-user"></span>  Gabriel Nicolau</a>
                        <a href="" class="glyphicon glyphicon-comment"> 3</a>
                        <span class="glyphicon glyphicon-calendar"> 20/08/2018</span>
                    </p>    

                </div>
<!-- ===========================LOOP============================================ -->
                <% padroes.forEach((padroes) => { %>
                    <div class="row artigo">
                        <h2><a href="/patterns/<%= padroes.padroes_id %>"> <%- padroes.titulo %> </a></h2>
                        <p>                                         <!-- Username -->
                            <a href=""><span class="glyphicon glyphicon-user"></span> <%= padroes.name %> </a>
                            <a href="" class="glyphicon glyphicon-comment"> 3</a>
                            <span class="glyphicon glyphicon-calendar"><%= padroes.dayCreation %>/<%= padroes.monthCreation %>/<%= padroes.yearCreation %></span>
                        </p>    

                    </div>    
                <% }); %>            
<!-- ============================================== -->
            </div>
        </div>
    </div>

    <!-- CONTROLE DE PÁGINA -->
        <div class="container">
            <nav aria-label="Controle de página" class="col-md-offset-1 controle-pagina">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        //Limit the size of title
        var languagesTitleArray = $(".artigo h2 a").toArray();
        languagesTitleArray.forEach((eachTitle, index) => {
            if(eachTitle.innerHTML.length > 50) {
                console.log(eachTitle.innerHTML);
                eachTitle.innerHTML = eachTitle.innerHTML.substring(0,50) + "...";
            }
        });
    </script>
</body>
</html>