<!DOCTYPE html>
<html>
<head>
    <title>Home - OpenEduPatterns!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="../css/style_patternPage.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img src="../img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" method="POST" role="search" action="/generalsearch">
                    <div class="input-group">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" class="form-control" name="keyword" placeholder="Pesquisar">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Página inicial</a></li>
                    <li><a href="/languages">Linguagens</a></li>
                    <li class="active"><a href="/patterns">Padrões</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <% if (loggedIn) { %>
                        <li>
                          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                                Usuário
                            <span class="caret"></span>
                          </a>

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <li><a href="/users/profile">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/logout">Sair</a></li>
                          </ul>
                          <!-- End dropdown menu -->

                        </li>
                    <% } else { %>
                        <li><a href="/users/login"><span class="glyphicon glyphicon-lock"></span>Entrar</a></li>
                    <% } %>
                </ul>

            </div>
        </div>
    </nav>  


    <div class="container">
        <br>
        <br>
        <h1>Exibição de Padrão</h1>
        <br>
        <% if (pattern) { %>
            <!-- <form method="POST" action="/patterns/<%= pattern.padroes_id %>/exportpdf">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button style="text-align: center;" type="submit" class="btn btn-success" >Exportar PDF</button>
            </form> -->
            <button style="text-align: center;" onclick="window.open('/patterns/<%= pattern.padroes_id %>/exportpdf', '_blank');" class="btn btn-success" >Exportar PDF</button>
            <br>
            <br>
            <a class="btn btn-info" href="/patterns/<%= pattern.padroes_id %>/edit">Editar Padrão</a>
            <h4>Autor: <%= owner.name %></h4>
            <h4>Data de criação: <%= pattern.dayCreation %>/<%= pattern.monthCreation %>/<%= pattern.yearCreation %></h4>
            <h4>Visibilidade: <%= pattern.visibilidade %></h4>
            <div class="well">
                <!-- LOOP -->
                <% patternContent.forEach((element, index) => { %>
                    
                    <% if (isAlexander && index === 0) { %>
                        <h2><strong> <%= element.name %></strong></h2>
                    <% } else if (!isAlexander) { %>
                        <h2><%= element.name %></h2>
                    <% } %>

                    <% if (element.name === "Padrões relacionados" || element.name === "Padrões Relacionados" || element.name === "Padroes relacionados" || element.name === "Padroes Relacionados" || element.name === "padrões relacionados" || element.name === "padrões Relacionados" || element.name === "padroes relacionados" || element.name === "padroes Relacionados") { %>
                        <p>|
                        <% relatedPatterns.forEach((relatedPattern) => { %>
                            <a href="/patterns/<%= relatedPattern.padroes_id %>"><%- relatedPattern.titulo %></a> |
                        <% }); %>
                        </p>
                    <% } else if (isAlexander && (index === 3 || index === 4)) { %> <!-- Problem and Solution of Alexander template has to be bold -->
                        <strong><%- element.content %></strong>
                    <% } else { %>
                        <%- element.content %>
                    <% } %>

                    <% if (isAlexander && index+1 != patternContent.length) { %>
                        <p style="font-style: italic;">***</p>
                    <% } %>

                <% }); %>
                <!-- END LOOP -->
            </div>
            <h3>Comentários</h3>
            <br>

            <!-- Add comment -->
            <% if (isLoggedIn) { %>
                <form method="POST" action="/patterns/<%= pattern.padroes_id %>/addcomment">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="patternComment" name="patternComment"></textarea>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-info">Enviar</button>
                </form>
            <% } else { %>
                <h4>Você não está logado, para comentar efetue o <a href="/users/login">Login</a>.</h4>
                <br>
            <% } %>

            <!-- Comments here -->
            <% comments.forEach((comment) => { %>
                <div class="well">
                    <h4><%= comment.user_name %>:</h4>
                    <p><%= comment.text %></p>
                </div>
            <% }); %>
            <!-- End of comments -->

        <% } else { %>
            <div class="well">
                <h2>Este Padrão não existe</h2>
            </div>
        <% } %>
        <br>
        <br>
    </div>

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>

