<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="../css/style_patternPage.css">
    <link rel="stylesheet" type="text/css" href="../css/common_styles.css">
    <link rel="stylesheet" type="text/css" href="../css/style_footer.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/openedupatterns/"><img src="../img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" method="POST" role="search" action="/openedupatterns/generalsearch">
                    <div class="input-group">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" class="form-control" name="keyword" placeholder="<%= __('Pesquisa geral') %>">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/openedupatterns/"><%= __('Pagina inicial') %></a></li>
                    <li><a href="/openedupatterns/languages"><%= __('Linguagens') %></a></li>
                    <li class="active"><a href="/openedupatterns/patterns"><%= __('Padrões') %></a></li>
                    <li><a href="/openedupatterns/about"><%= __('Sobre') %></a></li>
                    <% if (loggedIn) { %>
                        <li>
                          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <%= __('Usuário') %>
                            <span class="caret"></span>
                          </a>

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <li><a href="/openedupatterns/users/profile"><%= __('Perfil') %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/openedupatterns/users/logout"><%= __('Sair') %></a></li>
                          </ul>
                          <!-- End dropdown menu -->

                        </li>
                    <% } else { %>
                        <li><a href="/openedupatterns/users/login"><span class="glyphicon glyphicon-lock"></span><%= __('Entrar') %></a></li>
                    <% } %>
                </ul>
                
            </div>
        </div>
    </nav>  

    <!-- BreadCrumbs -->
    <nav aria-label="breadcrumb" id="bootstrap-overrides">
      <ol class="breadcrumb">
        <!-- All elements except the last -->
        <% breadCrumbContent.forEach((eachContent, index, array) => { if (index < array.length-1) {%>
            <li class="breadcrumb-item"><a href="<%- eachContent.href %>"><%= eachContent.name %></a></li>          
        <% } }); %>

        <!-- Only the last element -->
        <li class="breadcrumb-item active"><%- breadCrumbContent[breadCrumbContent.length-1].name %></li>       
      </ol>
    </nav>
    <!-- End BreadCrumbs -->
    <br>
    <br>
    <div class="container well">
        <br>
        <br>
        <div class="title">
            <h1><%= __('Exibição de Padrão') %></h1>    
        </div>
        <br>
        <% if (pattern) { %>
            <!-- <button style="text-align: center;" onclick="window.open('/openedupatterns/patterns/<%= pattern.padroes_id %>/exportpdf', '_blank');" class="btn btn-rounded btn-success btn-md" ><%= __('Exportar PDF') %></button> -->
            <a class="btn btn-rounded btn-info btn-md" href="/openedupatterns/patterns/<%= pattern.padroes_id %>/edit"><span class="glyphicon glyphicon-pencil"></span> <%= __('Editar Padrão') %></a>
            <br>
            <br>
            <br>
            <div class="patternInfo">
                <h3><%= __('Autor') %></h3><h3>: <%= owner.name %></h3>
                <br>
                <h3><%= __('Data de criação') %></h3><h3>: <%= pattern.dayCreation %>/<%= pattern.monthCreation %>/<%= pattern.yearCreation %></h3>
                <br>
                <h3><%= __('Visibilidade') %></h3><h3>: <%= pattern.visibilidade %></h3>                
            </div>
            <br>
            <br>
            <div class="well innerWell">
                <!-- LOOP -->
                <% patternContent.forEach((element, index) => { %>
                    <% if (!isAlexander) { %>
                        <h3><%= element.name %></h3>
                    <% } %>

                    <% if (    element.name === "Padrões relacionados" || element.name === "Padrões Relacionados" 
                            || element.name === "Padroes relacionados" || element.name === "Padroes Relacionados" 
                            || element.name === "padrões relacionados" || element.name === "padrões Relacionados" 
                            || element.name === "padroes relacionados" || element.name === "padroes Relacionados"
                            || element.name === "Related Patterns"     || element.name === "related patterns"
                            || element.name === "related Patterns"     || element.name === "Related patterns"
                        ) { %>
                        <div class="relatedPatterns">
                            <% relatedPatterns.forEach((relatedPattern) => { %>
                                <a class="btn btn-primary btn-sm" href="/openedupatterns/patterns/<%= relatedPattern.padroes_id %>"><%- relatedPattern.titulo %></a>
                            <% }); %>
                        </div>
                    <% } else if (isAlexander && index === 0) { %>
                        <h4><strong> <%- element.content %></strong></h4>
                    <% } else if (isAlexander && (index === 3 || index === 4)) { %> <!-- Problem and Solution of Alexander template has to be bold -->
                        <strong><%- element.content %></strong>
                    <% } else { %>
                        <%- element.content %>
                    <% } %>

                    <% if (isAlexander && index+1 != patternContent.length) { %>
                        <p style="font-style: italic;">***</p>
                    <% } %>

                <% }); %>
                <!-- END LOOP -->
            </div>
            <br>
            <div class="tags">
                <% if (tagsArray[0] != "") { %>
                    <p>Tags: </p>
                    <% tagsArray.forEach((eachTag, index) => { %>
                        <button class="btn btn-primary"><%= eachTag %></button>
                    <% }); %>
                    <br>
                <% } %>    
            </div>
            <br>
            <h3><%= __('Comentários') %></h3>
            <br>
            <!-- Add comment -->
            <% if (isLoggedIn) { %>
                <form method="POST" action="/openedupatterns/patterns/<%= pattern.padroes_id %>/addcomment">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="patternComment" name="patternComment"></textarea>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-rounded btn-info" onclick="return validateComment();"><%= __('Comentar') %></button>
                </form>
            <% } else { %>
                <h4><%= __('Você não está logado, para comentar efetue o') %> <a href='/openedupatterns/users/login'><%= __('Login') %></a>.</h4>
                <br>
            <% } %>

            <!-- Comments here -->
            <% comments.forEach((comment) => { %>
                <div class="well">
                    <h4><%= comment.user_name %>:</h4>
                    <p><%= comment.text %></p>
                </div>
            <% }); %>
            <!-- End of comments -->

        <% } else { %>
            <div class="well">
                <h3><%= __('Este Padrão não existe') %></h3>
            </div>
        <% } %>
        <br>
        <br>
    </div>

    <!-- Feedback modal -->
        <% if (messages.length > 0) { %>
          <div class="modal fade" id="modal-feedback">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                       <div class="modal-body">
                          <div class="row">
                              <div class="col-xs-10 col-xs-offset-1">
                                  <div>
                                        <% messages.forEach((message) => { %>
                                            <h3 id='explanation'><%= message %></h3>
                                        <% }); %>
                                        <button class="btn btn-sm" type="button" class="close" data-dismiss="modal">OK</button>
                                  </div>
                              </div>
                          </div>
                       </div>
                  </div>
              </div>
          </div>
        <% } %>
    <!-- End feedback modal -->

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // Feedback modal
        window.onload = function() {
          //Activate modal
          $("#modal-feedback").modal();
        }

        function validateComment() {
            var comment = $.trim($("#patternComment").val());
            console.log('Hey: ' + comment);

            if (isEmpty(comment)) {
                alert("<%= __('O comentário não pode estar vazio') %>")
                return false;
            } else {
                return true;
            }
        }

        function isEmpty(str){
            return !str.replace(/\s+/, '').length;
        }
    </script>
</body>
</html>

