<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--[Se for o IE 9]-->
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="../css/style_profile.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/style_linguagens.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/common_styles.css">
    <link rel="stylesheet" type="text/css" href="../css/style_footer.css">
    <!-- Fonte da página -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../css/style_datatable.css">
    <link rel="stylesheet" type="text/css" href="../css/style_datatable_effects.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/openedupatterns/"><img src="../img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" method="POST" role="search" action="/generalsearch">
                    <div class="input-group">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" class="form-control" name="keyword" placeholder="<%= __('Pesquisa geral') %>">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/openedupatterns/"><%= __('Pagina inicial') %></a></li>
                    <li><a href="/openedupatterns/languages"><%= __('Linguagens') %></a></li>
                    <li><a href="/openedupatterns/patterns"><%= __('Padrões') %></a></li>
                    <li><a href="/openedupatterns/about"><%= __('Sobre') %></a></li>
                    <% if (loggedIn) { %>
                        <li class="active">
                          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <%= __('Usuário') %>
                            <span class="caret"></span>
                          </a>

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <li><a href="/openedupatterns/users/profile"><%= __('Perfil') %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/openedupatterns/users/logout"><%= __('Sair') %></a></li>
                          </ul>
                          <!-- End dropdown menu -->

                        </li>
                    <% } else { %>
                        <li><a href="/openedupatterns/users/login"><span class="glyphicon glyphicon-lock"></span><%= __('Entrar') %></a></li>
                    <% } %>
                </ul>
                
            </div>
        </div>
    </nav>  
    <!-- Include breadcrumbs html -->
    <%- include partials/breadcrumb.ejs %>

    <div class="container">
        <br>
        <div class="photoArea well wrapper">
            <h1 class="greetings"><%= __('Bem vindo') %>, <%= user.name %></h1> 
            <br>
            <div class="profilePhoto col-sm-auto col-md-auto">
                <% if (profilePhoto) { %>
                    <img class="img-responsive" src="../uploads/profilePhotos/<%= profilePhoto %>">
                <% } else { %>
                    <img class="img-responsive" src="../uploads/profilePhotos/profilePhotoDefault2.png">
                <% } %>
                
                <br>
                <a id="btnChangePhoto" class="btn btn-info btn-md btn-rounded" data-toggle="modal" data-target="#modal-uploadPhoto"><%= __('Alterar foto') %></a>
                <!-- Modal uploadPhoto -->
                <div class="modal fade" id="modal-uploadPhoto">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title"><%= __('Faça upload de sua foto de perfil') %></h3>
                             </div>
                             <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <div class="well">
                                            <form method="POST" action="/users/uploadphoto?_csrf=<%= csrfToken %>" enctype="multipart/form-data">
                                                <input type="file" name="profilePhoto" id="real-file" style="display:none"/>
                                                <button class="btn btn-info" type="button" id="custom-button"><span class="glyphicon glyphicon-file"></span> <%= __('Escolha um arquivo') %></button>
                                                <span id="custom-text"><%= __('Arquivo não selecionado') %></span>


                                                <!-- <input type="file" name="profilePhoto" id="profilePhoto"> -->
                                                <br>
                                                <br>
                                                <button type="submit" class="btn btn-default btn" onclick="return validateFile();"><span class="glyphicon glyphicon-upload"></span> <%= __('Upload') %></button>
                                            </form>
                                            <br>
                                            <br>
                                            <form method="POST" action="/users/deleteprofilephoto">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button type="submit" class="btn btn btn-danger"><span class="glyphicon glyphicon-trash"></span> <%= __('Apagar foto de perfil') %></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal uploadPhoto -->
            </div>
            <br>
            <br>
            <div class="col-md-6 profileInfo">
                <p><%= __('Linguagens') %> </p> 
                <p><%=languages.length%></p>
            </div>

            <div class="col-md-6 profileInfo">
                <p><%= __('Padrões') %> </p> 
                <p><%=patterns.length%></p>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="well wrapper">
            <div class="row">
                <div class="artigo">
                    <h1><%= __('Minhas Linguagens') %></h1>    
                </div>
                
                <div class="row artigo">
                    <table id="languageTable" class="display">
                        <thead>
                            <tr>
                                <th><%= __('Usuário') %></th>
                                <th><%= __('Noma da Linguagem') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- =====================LOOP=========================-->
                            <% languages.forEach((eachLanguage, index) => { %>
                                <tr>
                                    <td><%= eachLanguage.name %></a></td>
                                    <td><h4><a href="/openedupatterns/languages/<%= eachLanguage.linguagens_id %>"> <%= eachLanguage.nome %> </a></h4></td>
                                </tr>
                            <% }); %>
                            <!-- ================================================= -->
                        </tbody>
                    </table>       
                </div>

                <br>
                <br>
                <div class="artigo">
                    <h1><%= __('Meus Padrões') %></h1>    
                </div>
                
                <div class="row artigo">
                    
                    <!-- ======= -->
                    <table id="patternTable" class="display">
                        <thead>
                            <tr>
                                <th><%= __('Usuário') %></th>
                                <th><%= __('Nome do Padrão') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- =====================LOOP=========================-->
                            <% patterns.forEach((eachPattern, index) => { %>
                                <tr>
                                    <td><%= eachPattern.name %></a></td>
                                    <td><h4><a href="/openedupatterns/patterns/<%= eachPattern.padroes_id %>"> <%- eachPattern.titulo %> </a></h4></td>
                                </tr>
                            <% }); %>
                            <!-- ================================================= -->
                        </tbody>
                    </table>    
                </div>                
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

    <!-- Feedback modal -->
        <% if (messages.length > 0) { %>
          <div class="modal fade" id="modal-feedback">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                       <div class="modal-body">
                          <div class="row">
                              <div class="col-xs-10 col-xs-offset-1">
                                  <div>
                                        <% messages.forEach((message) => { %>
                                            <h3 id='explanation'><%= message %></h3>
                                        <% }); %>
                                        <button class="btn btn-sm" type="button" class="close" data-dismiss="modal">OK</button>
                                  </div>
                              </div>
                          </div>
                       </div>
                  </div>
              </div>
          </div>
        <% } %>
    <!-- End feedback modal -->

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        // Feedback modal
        window.onload = function() {
          //Activate modal
          $("#modal-feedback").modal();
        }
        
        //Upload photo
        function chooseFile() {
            $("#profilePhotoInput").click();
        }

        //Data tables
        $(document).ready( function () {
            $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );

            $('#languageTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 6,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );

            $('#patternTable').DataTable( {
                "pageLength": 4,
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );


        function validateFile() {
            var fileName = $.trim($("#real-file").val());

            if (isEmpty(fileName)) {
                alert("<%= __('Você precisa escolher um arquivo antes de fazer o upload') %>")
                return false;
            } else {
                return true;
            }
        }

        function isEmpty(str){
            return !str.replace(/\s+/, '').length;
        }

        // Custom button upload
        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");

        customBtn.addEventListener("click", function() {
          realFileBtn.click();
        });

        realFileBtn.addEventListener("change", function() {
          if (realFileBtn.value) {
            customTxt.innerHTML = realFileBtn.value.match(
              /[\/\\]([\w\d\s\.\-\(\)]+)$/
            )[1];
          } else {
            customTxt.innerHTML = "<%= __('Arquivo não selecionado') %>";
          }
        });

    </script>
</body>
</html>

