<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="../css/style_profile.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="../css/style_datatable.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav1.ejs %>
    </nav>  

    <div class="container">
        <br>
        <br>
        <h1><%= __('Bem vindo') %>, <%= user.name %></h1> 
        <div class="profilePhoto">
            <% if (profilePhoto) { %>
                <img src="../uploads/profilePhotos/<%= profilePhoto %>">
            <% } else { %>
                <img src="../uploads/profilePhotos/profilePhotoDefault2.png">
        <% } %>
        </div>
        <br>
        <h4><%= __('Faça upload de sua foto de perfil') %></h4>
        <!-- Explanation: we use multipart/form-data for the multer(NodeJS), but we also need to send the csrf token, as we cannot just add an input hidden, because the enctype is different from original, we add ?_csrf=<TOKEN> -->
        <form method="POST" action="/users/uploadphoto?_csrf=<%= csrfToken %>" enctype="multipart/form-data">
            <input type="file" name="profilePhoto" id="profilePhoto">   
            <button type="submit" class="btn btn-success"><%= __('Alterar foto de perfil') %></button>
        </form>
        <br>
        <form method="POST" action="/users/deleteprofilephoto">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-danger"><%= __('Apagar foto de perfil') %></button>
        </form>
        <br>
        <div class="well">
            <div class="row">
                <h1><%= __('Minhas Linguagens') %></h1>
                <div class="row artigo">
                    <table id="languageTable" class="display">
                        <thead>
                            <tr>
                                <th><%= __('Usuário') %></th>
                                <th><%= __('Noma da Linguagem') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- =====================LOOP=========================-->
                            <% languages.forEach((eachLanguage, index) => { %>
                                <tr>
                                    <td><%= eachLanguage.name %></a></td>
                                    <td><h4><a href="/languages/<%= eachLanguage.linguagens_id %>"> <%= eachLanguage.nome %> </a></h4></td>
                                </tr>
                            <% }); %>
                            <!-- ================================================= -->
                        </tbody>
                    </table>       
                </div>

                <br>
                <br>

                <h1><%= __('Meus Padrões') %></h1>
                <div class="row artigo">
                    
                    <!-- ======= -->
                    <table id="patternTable" class="display">
                        <thead>
                            <tr>
                                <th><%= __('Usuário') %></th>
                                <th><%= __('Noma da Linguagem') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- =====================LOOP=========================-->
                            <% patterns.forEach((eachPattern, index) => { %>
                                <tr>
                                    <td><%= eachPattern.name %></a></td>
                                    <td><h4><a href="/patterns/<%= eachPattern.padroes_id %>"> <%- eachPattern.titulo %> </a></h4></td>
                                </tr>
                            <% }); %>
                            <!-- ================================================= -->
                        </tbody>
                    </table>    
                </div>                
            </div>

            


        </div>
        <br>
        <br>
        <br>
    </div>

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );

            $('#languageTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 6,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );

            $('#patternTable').DataTable( {
                "pageLength": 4,
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );
    </script>
</body>
</html>

