<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="css/style_searchResults.css">
    <link rel="stylesheet" type="text/css" href="css/style_profile.css">
    <link rel="stylesheet" type="text/css" href="css/style_footer.css">
    <link rel="stylesheet" type="text/css" href="css/common_styles.css">
    <!-- Fonte da página -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="css/style_datatable.css">
    <link rel="stylesheet" type="text/css" href="css/style_datatable_effects.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav0.ejs %>
    </nav>  
    <!-- Include breadcrumbs html -->
    <%- include partials/breadcrumb.ejs %>

    <div class="container well">
        <div class="tooltipInfo">
            <h1><%= __('Pesquisa geral') %> <span class="glyphicon glyphicon-question-sign"></span></h1>
            <span class="tooltiptext">
                <%= __('Ajuda Busca Geral') %>
            </span>
        </div>
        <h5><%= __('Nomes e conteúdos serão analisados') %></h5>
        <form method="POST" action="/filteredsearch">
            <input type="checkbox" name="pattern" checked> <%= __('Padrão') %>
            <input type="checkbox" name="language" checked> <%= __('Linguagem') %>
            <input type="checkbox" name="author" checked> <%= __('Autor') %>
            <br>
            <input type="text" placeholder="<%= __('Pesquisar') %>" name="keyword2">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-rounded btn-info btn-sm" type="submit"><%= __('Pesquisar') %></button>
        </form>
        <br>
        <div class="tooltipInfo">
            <h1><%= __('Pesquisa refinada  nos padrões') %> <span class="glyphicon glyphicon-question-sign"></span></h1>
            <span class="tooltiptext">
                <%= __('Ajuda Busca Refinada') %>
            </span>
        </div>
        <h5><%= __('Apenas os campos selecionados serão analisados') %></h5>
        <form method="POST" action="/filteredpatternsearch">
            <input type="checkbox" name="Nome"> <%= __('Nome') %>
            <input type="checkbox" name="Contexto"> <%= __('Contexto') %>
            <input type="checkbox" name="Figura"> <%= __('Figura') %>
            <input type="checkbox" name="Problema"> <%= __('Problema') %>
            <input type="checkbox" name="Solucao"> <%= __('Solução') %>
            <input type="checkbox" name="DiagramaDaSolucao"> <%= __('Diagrama da Solução') %>
            <input type="checkbox" name="Descricao"> <%= __('Descrição') %>
            <input type="checkbox" name="Alias"> <%= __('Alias') %>
            <input type="checkbox" name="Forças"> <%= __('Forças') %>
            <input type="checkbox" name="Exemplo"> <%= __('Exemplo') %>
            <input type="checkbox" name="UsosConhecidos"> <%= __('Usos conhecidos') %>
            <input type="checkbox" name="PadroesRelacionados"> <%= __('Padrões relacionados') %>
            <input type="checkbox" name="ContextoResultante"> <%= __('Contexto resultante') %>
            <input type="checkbox" name="Rationale"> <%= __('Rationale') %>
            <br>
            <br>
            <input type="text" placeholder="<%= __('Pesquisa refinada') %>" name="keyword2">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-rounded btn-info btn-sm" type="submit"><%= __('Pesquisar') %></button>
        </form>
        <br>

        <% if (languages.length > 0 || patterns.length > 0) { %>
            <h1><%= __('Resultados da pesquisa') %></h1>
        <% } %>

        
        <div class="row">
            <% if (languages.length > 0) { %>
            <div class="row artigo">
                <table id="languageTable" class="display">
                    <thead>
                        <tr>
                            <th class="text-left"><%= __('Linguagens') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- =====================LOOP=========================-->
                        <% languages.forEach((linguagens, index) => { %>
                            <tr>
                                <td><h4><a href="/openedupatterns/languages/<%= linguagens.linguagens_id %>"> <%= linguagens.nome %> </a></h4></td>
                            </tr>
                        <% }); %>
                        <!-- =================================== -->
                    </tbody>
                </table>     
            </div>  
            <% } %>

            <% if (patterns.length > 0) { %>
            <div class="row artigo">
                <table id="patternTable" class="display">
                    <thead>
                        <tr>
                            <th><%= __('Padrões') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- =====================LOOP=========================-->
                        <% patterns.forEach((padroes, index) => { %>
                            <tr>
                                <td><h4><a href="/openedupatterns/patterns/<%= padroes.padroes_id %>"> <%- padroes.titulo %> </a></h4></td>
                            </tr>
                        <% }); %>
                        <!-- =================================== -->
                    </tbody>
                </table>    
            </div>   
            <% } %>
        </div>
        <br>
        <br>
    </div>

    <!-- Feedback modal -->
        <% if (messages.length > 0) { %>
          <div class="modal fade" id="modal-feedback">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                       <div class="modal-body">
                          <div class="row">
                              <div class="col-xs-10 col-xs-offset-1">
                                  <div>
                                        <% messages.forEach((message) => { %>
                                            <h3 id='explanation'><%= message %></h3>
                                        <% }); %>
                                        <button class="btn btn-sm" type="button" class="close" data-dismiss="modal">OK</button>
                                  </div>
                              </div>
                          </div>
                       </div>
                  </div>
              </div>
          </div>
        <% } %>
    <!-- End feedback modal -->

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        // Feedback modal
        window.onload = function() {
          //Activate modal
          $("#modal-feedback").modal();
        }

        $(document).ready( function () {
            $('#languageTable').DataTable( {
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                "pageLength": 10,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );

            $('#patternTable').DataTable( {
                "pageLength": 10,
                "scrollY": 500,
                "scrollCollapse": true,
                "paging": false,
                language: {
                    "decimal":        "",
                    "emptyTable":     "<%= __('Nenhuma linguagem encontrada') %>",
                    "info":           "",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "",
                    "loadingRecords": "<%= __('Carregando...') %>",
                    "processing":     "<%= __('Processando...') %>",
                    "search":         "<%= __('Pesquisa') %>",
                    "zeroRecords":    "<%= __('Nenhuma linguagem encontrada') %>",
                    "paginate": {
                        "first":      "<%= __('Primeiro') %>",
                        "last":       "<%= __('Último') %>",
                        "next":       "<%= __('Próximo') %>",
                        "previous":   "<%= __('Anterior') %>"
                    },
                    "aria": {
                        "sortAscending":  ": <%= __('Ordenar colunas em ordem crescente') %>",
                        "sortDescending": ": <%= __('Ordenar colunas em ordem decrescente') %>"
                    }
                }
            } );
        } );
    </script>
</body>
</html>

