<!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="css/style_sobre.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <%- include partials/nav0.ejs %>
    </nav>  


    <div class="container">
        <br>
        <br>
        <div class="well">
            <p>
                <%= __('Esta ferramenta está sendo desenvolvida por') %> <a href="https://www.linkedin.com/in/gabriel-nicolau-07147b121/">Gabriel Santos Nicolau</a>, <%= __('estudante do curso de Ciência da Computação da Universidade de São Paulo, sob a orientação da professora Elen Francine e colaboração de') %> <a href="https://www.linkedin.com/in/mlfioravanti/">Maria Lydia Fioravanti</a> (<%= __('Doutoranda no ICMC/USP') %>).
            </p>
            <h3><%= __('Padrões e Linguagens de Padrões') %></h3>
            <br>
            <p>
                <%= __('A ideia de padrão surgiu a partir das investigações do professor arquiteto Christopher Alexander, da Universidade da Califórnia, em Berkeley, no seu livro “A Pattern Language”, no final da década de 70. Para Christopher, cada padrão descreve um problema que se repete, apresentando o núcleo da solução ou melhor forma para resolver tal problema. Dessa forma, o padrão pode ser usado por outras pessoas, em um contexto semelhante, mas que possuem o mesmo problema relacionado.') %>
            </p>
            <p>
                <%= __('De forma geral, um padrão possui um formato contendo geralmente nome, contexto, problema, solução.') %>
                <%= __('Um padrão também pode pertencer a uma categoria. Dessa forma, padrões com características comuns estão organizados.') %>
                <%= __('Outro conceito importante é o de Linguagem. Um conjunto de padrões, seus agrupamentos em categorias e o relacionamento entre padrões formam uma Linguagem de Padrões. A Linguagem de Padrões pode ser usada para resolver problemas em um contexto maior, por exemplo, o design, oferta e validação de uma aula ou um curso.') %>
            </p>
        </div>
        <br>
        <br>
        <br>
    </div>

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tagsinput.min.js"></script>
</body>
</html>

