<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
    <title>OpenEduPatterns</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Criar a responsividade da página para telas menores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Não colocar nenhuma tag meta acima deste comentário -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Tema opicional Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <!--[Se for o IE 9]-->
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <!-- Mdb Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <!-- Bibliotca de icones -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Meu CSS -->  
    <link rel="stylesheet" type="text/css" href="css/style_sobre.css">
    <link rel="stylesheet" type="text/css" href="css/common_styles.css">
    <link rel="stylesheet" type="text/css" href="css/style_footer.css">
    <!-- Fonte da página -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img src="img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" method="POST" role="search" action="/generalsearch">
                    <div class="input-group">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" class="form-control" name="keyword" placeholder="<%= __('Pesquisa geral') %>">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><%= __('Pagina inicial') %></a></li>
                    <li><a href="/languages"><%= __('Linguagens') %></a></li>
                    <li><a href="/patterns"><%= __('Padrões') %></a></li>
                    <li class="active"><a href="/about"><%= __('Sobre') %></a></li>
                    <% if (loggedIn) { %>
                        <li>
                          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <%= __('Usuário') %>
                            <span class="caret"></span>
                          </a>

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <li><a href="/users/profile"><%= __('Perfil') %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/logout"><%= __('Sair') %></a></li>
                          </ul>
                          <!-- End dropdown menu -->

                        </li>
                    <% } else { %>
                        <li><a href="/users/login"><span class="glyphicon glyphicon-lock"></span><%= __('Entrar') %></a></li>
                    <% } %>
                </ul>
                
            </div>
        </div>
    </nav>  
    <!-- Include breadcrumbs html -->
    <%- include partials/breadcrumb.ejs %>
    <br>

    <div class="container">
        <br>
        <br>
        <div class="well">
            <p>
                <%- __("Esta ferramenta foi desenvolvida por <a href='https://www.linkedin.com/in/gabriel-nicolau-07147b121/'>Gabriel Santos Nicolau</a>, estudante do curso de Ciência da Computação da Universidade de São Paulo, sob a orientação da Profa. Dra. Ellen Francine Barbosa e da doutoranda <a href='https://www.linkedin.com/in/mlfioravanti/'>Maria Lydia Fioravanti</a>.") %>
            </p>
            <h3><%- __("Padrões e Linguagens de Padrões") %></h3>
            <br>
            <p>
                <%- __("Em termos gerais, um padrão descreve uma solução para um problema de maneira recorrente. No entanto, a história inicial dos padrões de software começa não com um cientista da computação, mas com um arquiteto de construção, Christopher Alexander, que reconheceu que um conjunto recorrente de problemas foi encontrado sempre que um edifício foi projetado no final dos anos 70.<br><br>Os padrões fornecem um método para capturar e comunicar conhecimento em um domínio específico, como a pedagogia. Nesse contexto, Bergin definiu padrões pedagógicos como aqueles que tentam captar conhecimento especializado da prática do ensino e da aprendizagem. A intenção de tais padrões é capturar a essência da prática de uma forma compacta que pode ser facilmente comunicada àqueles que precisam do conhecimento.<br><br>Um padrão resolve um problema, mas sua aplicação pode gerar outros problemas, que podem ser resolvidos através do uso de outros padrões. Em resumo, nenhum padrão é uma entidade isolada. Portanto, deve-se pensar em maneiras de agrupar padrões existentes de acordo com algum critério, a fim de facilitar sua recuperação e reutilização. Uma linguagem de padrões é uma maneira de subdividir um problema geral e sua solução complexa em vários problemas relacionados e suas respectivas soluções. Cada linguagem de padrão resolve um problema específico no contexto comum compartilhado pela linguagem.") %>'
            </p>
        </div>
        <br>
        <br>
        <br>
    </div>

    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tagsinput.min.js"></script>
    <script src="js/jquery.min.js"></script>
</body>
</html>